<% if slot.tutors.any? %>
  <% slot.tutors.each do |tutor| %>

    <div title="<%= tutor.person.fullname %>"
      id="tutor-<%= slot.id %>-<%= tutor.id %>"
      class="person <%= tutor.course_preferences.map { |pref| pref.course.course_abbr + '_' + pref.level.to_s }.join(" ") %>">
      <%= tutor.person.fullname %>
    </div>

    <!-- popup begins here -->
    <div id="boxtutor-<%= slot.id %>-<%= tutor.id %>" class="tutorbox">
      <div><%= tutor.person.fullname %></div>
      <div class="imgdiv">
        <div class="photo <%= 'no-photo' if tutor.person.picture.blank? %>">
          <%= image_tag tutor.person.picture unless tutor.person.picture.blank? %>
        </div>
      </div>

      <div class="hours">
        <label>Tutoring Office Hours:</label>
        <br/>
        <% for slot in tutor.slots.sort_by { |a| [a.room, a.wday, a.hour] } %>
          <span style="font-style: italic"><%= slot.display %></span>
          <br/>
        <% end %>
      </div>
      <hr/>
      <div style="clear: both"></div>

      <%
        courses = { preferred: [], completed: [], current: [] }
        preference_level = [:current, :completed, :preferred]
        tutor.courses.ordered.each do |c|
          index = CoursePreference.find_by_tutor_id_and_course_id(tutor.id, c.id).level
          label = preference_level[index]
          courses[label] << c
        end
      %>
      <% [:preferred, :completed, :current].each do |label| %>
        <% unless courses[label].empty? %>
          <span class="small" style="font-style: italic">
            <%= "#{label.to_s.humanize.titleize}: " %>
          </span>
          <%= courses[label].collect(&:to_s).join(", ") %>
        <% end %><br/>
      <% end %>
    </div>
    <!--popup ends here -->

  <% end %>
<% else %>
  <div class="infobox person">
    <% if slot.room != Slot::Room::ProDevCory %>
      No Tutoring!
    <% else %>
      &nbsp;
    <% end %>
  </div>
<% end %>
