<div class="white-bg" id="contain">
  <h1>Edit static page <%= @static_page.title %></h1>

  <%= form_for @static_page, url: static_page_path(parents: @parents[0..-1].map(&:url), url: @static_page.url) do |f| %>
    <% if @static_page.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(@static_page.errors.count, "error") %> prohibited this page from being saved:</h2>
        <ul>
          <% @static_page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <%- end -%>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit "Update page" %>
    </div>
  <%- end -%>
</div>
