<p> Scoring system: Big fun = 2 pts; Fun = 1 pt; Service = 3 pts
</p>
<table>
  <tr>
    <th>Rank</td>
    <th>Name</th>
    <th>Score</th>
    <th>Big Fun</th>
    <th>Fun</th>
    <th>Service</th>
  </tr>
<% @people_array.each do |entry| %>
  <tr>
    <td><%= entry[:rank] %></td>
    <td><%= entry[:person].full_name %></td>
    <td><%= entry[:score] %></td>
    <td><%= entry[:big_fun] %></td>
    <td><%= entry[:fun] %></td>
    <td><%= entry[:service] %></td>
  </tr>
<% end %>
</table>
