<% content_for :header do %>
  <style type="text/css">
    #contain{
      width: 50%;
      margin: auto;
    }
  </style>
<% end %>

<div class="white-bg" id="contain">
  <h1>Reset Password</h1>
  <%= form_tag reset_password_confirm_submit_path(person: @person.id) do %>     <div class="field" >
      <%= label :password, :new, "New Password" %>
      <%= password_field :password, :new %>
    </div>
    <div class="field">
      <%= label :password, :confirm, "Confirm New Password" %>
      <%= password_field :password, :confirm %>
    </div>
    <div class="field-submit">
      <%= submit_tag "Reset Password" %>
    </div>
  <%- end -%>
</div>
