<%= form_for @person, url: register_path do |f| %>
  <% if @person.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
    <ul>
    <% @person.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <%- end -%>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password (confirm)" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <br />
    <%= captcha %>
  </div>

  <div class="field-submit">
    <%= f.submit "Register" %>
  </div>
<%- end -%>
