<%# http://wiki.github.com/mislav/will_paginate/ajax-pagination %>
<div id="ajax-wrapper">
<%= spinner %>
<%= will_paginate @people, :class => "ajax-controls ajax" %>

<table class="table">
  <tr class="ajax-controls">
    <th>Image</th>
    <th>Name (<%= sort_link 'First', 'first_name' %> <%= sort_link 'Last', 'last_name' %>)</th>
    <th><%= sort_link 'Email', 'email' %></th>
    <th>Phone</th></tr>
<% @people.each do |person| %>
  <tr>
    <td>
      <%= image_tag person.picture unless person.picture.blank? %>
    </td>
    <td>
      <%= link_to person.fullname, person %>
      <div class="small"><%= person.status %></div>
    </td>
    <td><%= raw html_obfuscate person.email unless person.private %></td>
    <td><%= person.phone_number unless person.private %></td>
  </tr>
<% end %>
</table>

</div>
