<h1>Account Settings <%= "for #{@person.fullname}" if @person.id != @current_user.id %></h1>
Note: You must enter in your current password to make any changes to your settings.

<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
    <ul>
    <% @person.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <%- end -%>
	<% @f = f%>
	<%= render :partial => "current_resume", :locals => { :f  => @f }%>

  <div class="field">
    <%= f.label :username %>
	<%= @person.username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :private, "Keep my profile private" %>
    <%= f.check_box :private %>
  </div>  
  
  <h4>Change Password</h4>
  <div class="field">
    <%= label :password, :current, "Current Password" %>
    <%= password_field :password, :current %>
  </div>
  <div class="field">
    <%= label :password, :new, "New Password" %>
    <%= password_field :password, :new %>
  </div>
  <div class="field">
    <%= label :password, :confirm, "Confirm New Password" %>
    <%= password_field :password, :confirm %>
  </div>
  
  <h4>Additional Information</h4>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :mobile_carrier_id, "Mobile Carrier" %>
    <%= collection_select(:person, :mobile_carrier_id, @mobile_carriers, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :sms_alerts, "Would you like to receive SMS alerts for events?" %>
    <%= f.check_box :sms_alerts %>
    <div>Checking this box will enable you to receive an SMS text message two hours before events you have RSVP'd for. (Requires you to enter in a valid 10-digit phone number and a mobile carrier.) (Disclaimer: HKN is not responsible for any surcharges incurred from receiving SMS messages.)
    </div>
  </div>
  <div class="field">
    <%= f.label :aim, "AIM Screenname" %>
    <%= f.text_field :aim %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, :start_year=>1950, :end_year => Time.now.year %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<%- end -%>
