<div id="searcharea">
  <div id="peoplesearch" class="searchcontrol">
    <%= form_tag(people_search_path, :id=> "people_form", :method => :get) do %>
      <%= submit_tag "Search", :id=> "people_sub", :name=>nil %>
      <span style="display:block;overflow:hidden;padding-right: 10px;" >
      <%= text_field_tag :q, params[:controller].eql?('people') ? h(params[:q]) : '', :id => "people_q", :placeholder=>"Search People", :class=>"text autoclear" %>
      </span>
    <%- end -%>
  </div>
</div>

<%= render :partial => 'search_results' %>

<%= ajaxify_links %>
