<div class="admin">
  <% if @auth["vp"] %>
    Admin Bar:
    <% if !@person.approved %>
      <%= link_to "[Approve Account]", approve_path(@person) %>
    <% end %>

    <% if @person.candidate && @person.candidate.currently_initiating %>
      <%= link_to "[Mark not initiating]", uninitiate_candidate_path({ id: @person.id }), method: :post %>
    <% elsif %>
      <%= link_to "[Mark initiating]", initiating_candidate_path({ id: @person.id }), method: :post %>
    <% end %>

    <% if @auth["superusers"] %>
      <%= link_to "[Edit]", edit_person_path(@person) %>
      <%= link_to "[Delete]", person_path(@person), method: :delete, confirm: "Are you sure you want to remove \"" + @person.fullname + "\"?" %>
      <%= link_to "[Groups]", groups_person_path(@person.username) %>
    <% elsif @auth["vp"] and !@person.approved %>
      <%= link_to "[Delete]", person_path(@person), method: :delete, confirm: "Are you sure you want to remove \"" + @person.fullname + "\"?" %>
    <% end %>
  <% end %>
</div>
<div style="float: left; padding-right: 1em; width: 49%">
  <h1><%= @person.fullname %></h1>

  <div id="photo" <%= "class=no-photo" if @person.picture.blank? %>>
    <%= image_tag @person.picture, id: "profile_picture" unless @person.picture.blank? %>
  </div>

  <div id="info">
    <% unless @person.email.blank? or @person.private %>
    <span class="user-field">
      <span class="label">Email</span><%= @person.email %>
    </span>
    <% end %>
    <% unless @person.phone_number.blank? or @person.private %>
    <span class="user-field">
      <span class="label">Phone Number</span><%= @person.phone_number %>
    </span>
    <% end %>
    <span class="user-field">
      <span class="label">Status</span><%= @person.status %>
    </span>
  </div>
  <div class="clear"></div>

  <h2>Badges Earned</h2>
  <div id="badges">
    <% for badge in @badges %>
    <%= image_tag badge.picture_url, title: badge.name, class: "badge" %>
    <% end %>
  </div>

</div>
<div style="float: left; width: 49%">
  <h2>Additional Membership Information
	<% if @auth['rsec'] %>
	  <%= link_to "[Edit]", committeeships_path(@person) %>
	<% end %> </h2>
<% @person.committeeships.order(:semester).each do |committeeship| %>
  <p><%=@person.first_name%> had the position of <%=committeeship.nice_position%> in <%=committeeship.nice_semester%>.</p>
<% end %>

<% if @person.rsvps.count > 0 %>
  <h2><%= @person.fullname %>'s RSVPs</h2>
  <ul>
  <% @person.rsvps.ordered_desc.each do |rsvp| %>
    <% if rsvp.event.can_view? @current_user %>
      <li><%= link_to "#{rsvp.event.start_date} - #{rsvp.event.name}", rsvp.event %></li>
    <% end %>
  <% end %>
  </ul>
  <% if @auth["vp"] %>
    <h2>All RSVPs</h2>
    <ul>
    <% @person.rsvps.ordered_desc.each do |rsvp| %>
      <li><%= link_to "#{rsvp.event.start_date} - #{rsvp.event.name}", rsvp.event %><% if rsvp.confirmed != 't' %> * <% end %></li>
    <% end %>
    </ul>
    <% end%>
    * This event was not confirmed; either they didn't go, or VP forgot to confirm them.
<% end %>
</div>
