<% content_for :header do %>
  <style type="text/css"> 
    .admin{
      padding: 0.5em;
      background: #ccc;
    }
    
    span.label{
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.8em;
      color: #999;
      width: 6em;
    }
    
    .user-field{
      display: block;
    }
  </style>
<% end %>

<div id="photo">
  <%= image_tag @person.picture, :id => "profile_picture" unless @person.picture.blank? %>
</div>

<div id="info">
  <h1><%= @person.fullname %>'s Profile</h1>
  <div class="admin">
    <% if @auth["superusers"] %>
      Admin Bar: 
      <%= link_to "[Edit]", edit_person_path(@person) %>
      <%= link_to "[Delete]", person_path(@person) %>
    <% end %>
  </div>
  
  
    <%- unless @person.email.blank? or @person.private -%>
    <span class="user-field">
      <span class="label">Email</span><%= @person.email %>
    </span>
    <%- end -%>
    <%- unless @person.phone_number.blank? or @person.private -%>
    <span class="user-field">
      <span class="label">Phone Number</span><%= @person.phone_number %>
    </span>
    <%- end -%>
    <span class="user-field">
      <span class="label">Status</span><%= @person.status %>
    </span>

  <h2>Additional Membership Information</h2>
  <% @person.committeeships.order(:semester).each do |committeeship| %>
    <p><%=@person.first_name%> had the position of <%=committeeship.nice_position%> in <%=committeeship.nice_semester%>.</p>
    
  <h2><%= @person.fullname %>'s RSVPs</h2>
  <% end %>
</div>


