<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time, size: 20, class: "datetimepicker" %> PST
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= collection_select :indrel_event, :location_id, Location.all, :id, :name, { include_blank: "None" } %>
  </div>
  <div class="field">
    <%= f.label :indrel_event_type %>
    <%= collection_select :indrel_event, :indrel_event_type_id, IndrelEventType.all, :id, :name, { include_blank: "None" } %>
  </div>
  <div class="field">
    <%= f.label :food %>
    <%= f.text_area :food %>
  </div>
  <div class="field">
    <%= f.label :prizes %>
    <%= f.text_area :prizes %>
  </div>
  <div class="field">
    <%= f.label :turnout %>
    <%= f.text_field :turnout %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= collection_select :indrel_event, :company_id, Company.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :contact %>
    <%= collection_select :indrel_event, :contact_id, Contact.all, :id, :name, {include_blank: "None"} %>
  </div>
  <div class="field">
    <%= f.label :officer %>
    <%= f.text_field :officer %>
  </div>
  <div class="field">
    <%= f.label :feedback %>
    <%= f.text_area :feedback %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>
  <div class="field-submit">
    <%= f.submit "Submit" %>
  </div>
<% end %>
