<div class="upload-form">
  <small>Upload raw survey data as CSV.</small>
  <%= form_tag admin_csec_upload_surveys_post_path, :multipart=>true, :method=>:post do %>
    <%= file_field_tag :file, :accept => 'text/csv' %>
    <%= submit_tag 'Upload', :disable_with => "Processing..." %>
    <br/>
    <%= label_tag :save, "Save", :for => :save %>
    <%= check_box_tag :save, "1", false, :disabled => !@allow_save, :onclick => "if(this.checked) this.checked=confirm(\"Are you sure? If so, click OK and re-select the file to be uploaded. Make sure compserv has made a backup recently before you do this.\\n\\nBtw, this could take a while. DO NOT resubmit/refresh until the page comes back to you. If an error occurs, first check to see if the data was imported (it probably wasn't), then go back to the upload form via the url, NOT with back/refresh.\");" %>
  <%- end -%>
</div>

<div class="info-box">
  <div class="errors">
    Errors:
    <%= raw @results[:errors].to_ul %>
  </div>
  <div class="info">
    Info:
    <%= raw @results[:info].collect(&:to_ul).join('<br/>') %>
  </div>
</div>

