<div class="directions">
  <h3>Directions</h3>
  <%= raw [
        "Upload prof data", [
          "Choose file to upload. Cells should be separated by commas, with quotes around text fields (standard CSV format).",
          "Click upload and wait a while for processing to finish (dry run)",
          "If errors occurred, fix them or contact CompServ.",
          "Else, if no errors occurred, upload data for realsies.", [
            "First verify that the data looks right.",
            "Choose THE SAME FILE from step 1.1. It won't be verified that you actually uploaded the same file, but why do the first run if you are just going to uplaod a different file?",
            "Tick the box marked 'Save'. Read and accept the directions there.",
            "Click Upload to reprocess and commit the new data.",
            "Check that there are no errors, which indicates success. All missing data should now be populated; whatever shows in the Info section is exactly what's in the database. Go verify that things show up in the course surveys section (if not, the server cache may need to be cleared)."
          ]
        ],
        "Upload TA data"
      ].to_ul 'ol'
   %>
  <h3>Fine print</h3>
  <%= raw [
        "For the time being, all sections default to 0. This is because, for historical reasons, one section corresponds to exactly one instructor, and all TAs are registered for all sections. This shall be fixed in the future.",
        "Behavior is undefined when uploading the same data multiple times, or uploading TAs before profs. It should be fine, but have a web-dev handy just in case."
      ].to_ul
   %>
</div>
<div class="upload-form">
  <%= form_tag admin_csec_upload_surveys_post_path, multipart: true, method: :post do %>
    <%= label_tag :semester, "Semester (in a format like 'Fall 20XX', 'Spring 20XX', or 'Summer 20XX')" %>
    <%= text_field_tag :semester, :required => true %>
    <br/>
    <small>Upload raw survey data as <b>CSV</b> (a.k.a. doublequoted and comma-delimited).</small>
    <br/>
    <%= file_field_tag :file, accept: 'text/csv' %>
    <%= submit_tag 'Upload', disable_with: "Processing..." %>
    <br/>
    <%= label_tag :save, "Save", for: :save %>
    <%= check_box_tag :save, "1", false, onclick: "if(this.checked) this.checked=confirm(\"Are you sure? If so, click OK and re-select the file to be uploaded. Make sure compserv has made a backup recently before you do this.\\n\\nBtw, this could take a while. DO NOT resubmit/refresh until the page comes back to you. If an error occurs, first check to see if the data was imported (it probably wasn't), then go back to the upload form via the url, NOT with back/refresh.\");" %>
    &nbsp;&nbsp;&nbsp;
    <%= label_tag :ta, "TA?", for: :ta %>
    <%= check_box_tag :ta, "1", @ta %>
  <%- end -%>
</div>

<div class="info-box">
  <div class="errors">
    Errors:
    <%= raw @results[:errors].to_ul %>
  </div>
  <div class="info">
    Info:
    <%= raw @results[:info].collect(&:to_ul).join('') %>
  </div>
</div>
