<h1>Listing event_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for event_type in @event_types %>
  <tr>
    <td><%= event_type.name %></td>
    <td><%= link_to 'Show', event_type %></td>
    <td><%= link_to 'Edit', edit_indrel_event_type_path(event_type) %></td>
    <td><%= link_to 'Destroy', event_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event_type', new_indrel_event_type_path %>
