<%= form_for(@dept_tour_request) do |f| %>
  <% if @dept_tour_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dept_tour_request.errors.count, "error") %> prohibited this dept_tour_request from being saved:</h2>

      <ul>
      <% @dept_tour_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="dept_tour_members">
    <%= f.label :name, "Name: "%>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :date, "Date: "%>
    <%= f.date_select :date %>
    <br/>
    <%= f.label :contact, "Contact Email Address: "%>
    <%= f.text_field :contact %>
    <br/>
    <%= f.label :phone, "Phone Number: "%>
    <%= f.text_field :phone %>
    <br/>
    <%= f.label :comments, "Additional Coments: "%>
    <%= f.text_area :comments %>
    <br/>
    <%= f.label :responded, "Responded to?" %>
    <%= f.check_box :responded%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
