<!-- <p id="notice"><%= notice %></p> -->

<div id="deptTourContainer">
  <div id="deptTourInfo">
    <table>
      <tr>
        <th>Requestee&nbsp;Name</th>
        <td><%= @dept_tour_request.name %></td>
      </tr>
      <tr>
        <th>Requested&nbsp;Date</th>
        <td><%= @dept_tour_request.date %></td>
      </tr>
      <tr>
        <th>Date&nbsp;Submitted</th>
        <td><%= @dept_tour_request.submitted %></td>
      </tr>
      <tr>
        <th>Contact&nbsp;e-mail</th>
        <td><%= @dept_tour_request.contact %></td>
      </tr>
      <tr>
        <th>Contact&nbsp;phone</th>
        <td><%= @dept_tour_request.phone %></td>
      </tr>
      <tr>
        <th>Additional&nbsp;Comments</th>
        <td><%= @dept_tour_request.comments %></td>
      </tr>
    </table>
  </div>
  <div id="responseForm">
    <%= form_tag(respond_dept_tour_request_url,:method=>:post) do %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_dept_tour_request_path(@dept_tour_request) %> |
<%= link_to 'Back', dept_tour_requests_path %>
