<%- if (header ||= false) -%>
<tr>
  <%- Eligibility::TableFields.each do |field| -%>
  <th><%= field.to_s.humanize.titleize %></th>
  <%- end -%>
  <th>Move to...</th>
</tr>
<%- else # actual row -%>
<tr id=<%= "eligibility_row_#{eligibility.id}" %> class=<%= "confidence#{eligibility.confidence}" %> >
  <%- Eligibility::TableFields.each do |field| -%>
    <td><%= case field
              when :address: simple_format eligibility.address
              when :first_name: [eligibility.first_name, eligibility.middle_initial].compact.join(' ')
              else eligibility.send(field)
            end
         %></td>
  <%- end -%>
  <td>
    <%- elabel = "eligibilities[#{eligibility.id}]" -%>
    <%- Eligibility::GroupValues.each_pair do |g,v| %>
      <%= radio_button_tag elabel, v, eligibility.group==v %>
      <%= label_tag elabel, g.to_s.titleize %>
      <br />
    <%- end -%>
  </td>
</tr>
<%- end # if header -%>
