<%= form_for(@alumni) do |f| %>
  <% if @alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
      <% @alumni.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grad_semester %>
    <%= f.text_field :grad_semester %>
  </div>
  <div class="field">
    <%= f.label :grad_school %>
    <%= f.text_field :grad_school %>
  </div>
  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :salary %>
    <%= f.text_field :salary, :value=> (if @alumni.salary then pretty_salary(@alumni.salary) else "" end)%>
  </div>
  <div class="field-submit">
    <%= f.submit %>
  </div>
<% end %>
