<h1>Viewing alumni information for <%= @alumni.person.full_name %></h1>

<p>
  <b>Permanent email</b>
  <%= @alumni.perm_email %>
</p>

<p>
  <b>Semester graduated (from Ugrad):</b>
  <%= @alumni.grad_semester %>
</p>

<p>
  <b>Grad school:</b>
  <%= @alumni.grad_school %>
</p>

<p>
  <b>Job title:</b>
  <%= @alumni.job_title %>
</p>

<p>
  <b>Company:</b>
  <%= @alumni.company %>
</p>

<p>
  <b>Salary:</b>
  <%= if @alumni.salary then pretty_salary @alumni.salary else "" end %>
</p>

<p>
  <b>Location:</b>
  <%= @alumni.location %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> | 
<%= link_to (if @alumni.person == @current_user then  "I'm not alumni!" else "Destroy" end), @alumni, :confirm=> "Destroy this alumni information entry?", :method=>:delete %>
