- content_for :header do
  = javascript_include_tag "coursechart.js"
  = stylesheet_link_tag "coursechart.css", media: "all"

#sidebar.trans-bg
  %h1 Quicklinks
  %h2 Search For an Instructor or Course
  = form_tag(coursesurveys_search_path, method: :get) do
    = text_field_tag(:q, "")
    = submit_tag "Search", name: nil
  %h2 Browse Instructors and Courses
  %ul.plain
    %li= link_to "Instructors", coursesurveys_instructors_path
    %li= link_to "Teaching Assistants", coursesurveys_tas_path
    %li= link_to "Electrical Engineering Courses", coursesurveys_department_path("EE")
    %li= link_to "Computer Science Courses", coursesurveys_department_path("CS")

  %h2 More Information
  %ul.plain
    %li= link_to "How to use the course survey system", coursesurveys_how_to_path
    %li= link_to "Information for professors and TAs", coursesurveys_info_profs_path
    %li= link_to "Information about hidden GSI ratings", coursesurveys_ferpa_path
    %li= link_to "Aggregate statistics", comingsoon_path

#main
  %h1 Course Guides
  %p
    We offer a comprehensive course guide for all undergraduate level EECS courses here.
  %p
    New! Check out the
    = link_to "new course map design!", image_path("course-map-2019.png")

  %h2 Prerequisite Charts
  %p (Click on a course in the chart below to see the relevant course guide)
  %noscript
    = render partial: "eemap"
    %br
    = render partial: "csmap"
  %br
  %h1 EE Course Map
  %div{id: "ee"}
  %br
  %h1 CS Course Map
  %div{id: "cs"}
