<h1> Résumé Books </h1>

<ul>
<li><%= link_to "Generate a new resume book", new_resume_book_path  %></li>
<li><%= form_tag(resume_book_missing_path, :method => "get") do %>
  <%= label_tag(:cutoff_date, "See a list of people who haven't submitted a résumé since ") %>
  <%= date_select("post", :cutoff_date) %>
  <%= submit_tag("Go") %>
<% end %></li>
<li><%= link_to "list of all HKN Members and their resume upload statuses.", resumes_status_list_path %>
 (You can also use this page to upload a resume for a certain person)
</li>
</ul>
<table class="table">
	<tr><th>Creation Date</th><th>Remarks</th><th>PDF File</th><th>ISO File</th></tr>
<% ResumeBook.find(:all).reverse.each do |resume_book| %>
<!-- I hope everyone capitalizes the first letters of their names. But it's not really a big deal-->
  <tr>
	  <td> <%= link_to resume_book.created_at, resume_book_path(resume_book) %> </td>
	  <td> <%= resume_book.remarks %> </td>
		<td> <%= link_to "Download PDF", resume_book_download_pdf_path(resume_book.id) %> </td>
		  <td> <%= link_to "Download ISO", resume_book_download_iso_path(resume_book.id) %> </td>
	</tr>
<% end %>
</table>
