<h1> Résumé Books </h1>

<table class="table">
	<tr><th>id</th><th>Creation Date</th><th>Remarks</th><th>PDF File Location</th><th>ISO File Location</th></tr>
<% ResumeBook.find(:all).each do |resume_book| %>
<!-- I hope everyone capitalizes the first letters of their names. But it's not really a big deal-->
	<tr><td> <%= resume_book.id %> </td>
	    <td> <%= resume_book.created_at %> </td>
	    <td> <%= resume_book.remarks %> </td>
			<td> <%= resume_book.pdf_file %>
		  <td> <%= resume_book.iso_file %> </td>
	</tr>
<% end %>
</table>