= form_for @shortlink do |f|
  - if @shortlink.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shortlink.errors.count, "error")} prohibited this shortlink from being saved:"
      %ul
        - @shortlink.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :in_url
    = f.text_field :in_url
  .field
    = f.label :out_url
    = f.text_area :out_url
  .field
    = f.label :http_status
    = f.number_field :http_status
  .actions
    = f.submit 'Save'
