<div class="top-bar">
  <div class="search-controls">
    <%= form_tag admin_eligibilities_path, :method => :get do %>
      <div class="semester">
        <%= radio_button_tag :semester, :current, params[:semester].blank? || params[:semester].eql?('current') %>
        <%= label_tag "Current" %>

        <%= radio_button_tag :semester, :all, params[:semester].eql?('all') %> 
        <%= label_tag "All" %>
      </div>

      <div class="field">
        <%= submit_tag "Show" %>
      </div>
    <%- end #form -%>
  </div>

  <div class="upload-form">
    <small>Upload eligibility list as a CSV.</small>
    <%= form_tag admin_upload_eligibilities_path, :multipart => true, :method => :post  do %>
      <%= file_field_tag :file, :accept => 'text/csv' %>
      <%= submit_tag "Upload" %>
    <%- end -%>
  </div>

  <div class="clear"></div>
</div><%# end top-bar %>

<div class="eligibilities">
  <%- @eligibilities.each_pair do |group, els|
        next if els.empty?
    -%>
    <h2><%= group.to_s.pluralize.titleize %></h2>
    <table class=<%= "eligibilities-#{group.to_s}" %>>
      <tr>
        <%- Eligibility::TableFields.each do |field| -%>
          <th><%= field.to_s.humanize.titleize %></th>
        <%- end -%>
      </tr>
      <%- els.each do |e| -%>
      <tr>
        <%- Eligibility::TableFields.each do |field| -%>
          <td><%= case field
                    when :address: simple_format e.address
                    when :first_name: [e.first_name, e.middle_initial].compact.join(' ')
                    else e.send(field)
                  end
               %></td>
        <%- end -%>
      </tr>
      <%- end #els -%>
    </table>
  <%- end -%>
</div><%# end eligibilities %>
