<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
    <ul>
    <% @property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :tutor_version %><br />
    <%= f.text_field :tutor_version %>
  </div>
  <div class="field">
    <%= f.label :semester %><br />
    <%= f.text_field :semester %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
