<div>
<%= link_to 'Back', admin_cand_applications_path %>
</div>

<table id='applications'>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Email</th>
  <%- @candidates and @candidates.each do |c|
        next unless p = c.person
  -%>
  </tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name  %></td>
    <td><%= p.phone_number %></td>
    <td><%= p.email %></td>
  </tr>
  <%- end -%>
</table>
