<div>
<%= link_to 'Back', admin_cand_applications_path %>
</div>

<table id='applications'>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Committee Preferences</th>
    <th>Committee Preference Notes</th>
    <th>Suggestion</th>
    <th>Local Address</th>
    <th>Perm Address</th>
    <th>Grad Semester</th>
    <th>Phone number</th>
    <th>Date of Birth</th>
  <%- @candidates.each do |c|
        next unless p = c.person
  -%>
  </tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name  %></td>
    <td><%= p.phone_number %></td>
    <td><%= p.email %></td>
    <td><ol>
      <%- if c.committee_preferences
            c.committee_preferences.split.each do |p|
      -%>
        <li><%= p %></li>
      <%- end end -%>
    </ol></td>
    </td>
    <td style="width: 20%;">
      <%= c.committee_preference_note %>
    </td>
    <td style="width: 20%;">
      <%= simple_format c.person.suggestion.suggestion if c.person and c.person.suggestion %>
    </td>
    <td><%= p.local_address %></td>
    <td><%= p.perm_address %></td>
    <td><%= p.grad_semester %></td>
    <td><%= p.phone_number %></td>
    <td><%= p.date_of_birth %></td>
  </tr>
  <%- end -%>
</table>
