<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br />
    <%= f.select :event_type_id, EventType.all.map{|x| [x.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= datetime_select :event, :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= datetime_select :event, :end_time %>
  </div>
  <div>
    <%= label_tag(:blocktype_single, "Single block") %>
    <%= radio_button_tag(:blocktype, "single", true, {:onclick => "blocks(1);"}) %>
    <%= label_tag(:blocktype_uniform, "Multiple uniform blocks") %>
    <%= radio_button_tag(:blocktype, "uniform", false, {:onclick => "blocks(2);"}) %>
  </div>
  <div class="field" id="numblocks">
    <%= label_tag :num_blocks, 'Number of blocks' %><br />
    <%= number_field_tag :num_blocks, 1, :onkeypress => "return numeric(event);" %>
  </div>
  <script>
    var blockfield = document.getElementById('numblocks');
    var num_blocks = document.getElementById('num_blocks');
    blockfield.style.display = 'none';
    
    function blocks(selectID) {
      if (selectID == 1) {
        num_blocks.value = "1";
        blockfield.style.display = 'none';
      }
      else if (selectID == 2)
        blockfield.style.display = 'block';
    }

    function numeric(evt) {
      evt = (evt) ? evt : window.event;
      var charcode = (evt.which) ? evt.which : evt.keyCode;
      if (charcode > 31 && (charcode < 48 || charcode > 57))
        return false;
      return true;
    }
  </script>
  <div class="field">
    <%= label_tag :max_rsvps, 'Maximum RSVPs' %><br />
    <%= number_field_tag :max_rsvps %>
  </div>
  <div class="field">
    <%= f.label :need_transportation %><br />
    <%= f.check_box :need_transportation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
