<h1><%= @event.name %></h1>

<%= link_to raw('&larr;back'), confirm_rsvps_index_path(@group) %>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <% @rsvps.each do |rsvp| %>
  <% if rsvp.person.in_group?(@group) %>
  <tr>
    <td><%= rsvp.person.fullname %></td>

    <% if rsvp.confirmed == "t" %>
    <td>Confirmed</td>
    <td>
      <%= link_to "Unconfirm", unconfirm_rsvp_path(rsvp.id, group: @group) %> |
      <%= link_to "Reject", reject_rsvp_path(rsvp.id, group: @group) %>
    </td>
    <% elsif rsvp.confirmed == "r" %>
    <td>Rejected</td>
    <td>
      <%= link_to "Confirm", confirm_rsvp_path(rsvp.id, group: @group) %> |
      <%= link_to "Unconfirm", unconfirm_rsvp_path(rsvp.id, group: @group) %>
    </td>
    <% else %>
    <td>Not Confirmed</td>
    <td>
      <%= link_to "Confirm", confirm_rsvp_path(rsvp.id, group: @group) %> |
      <%= link_to "Reject", reject_rsvp_path(rsvp.id, group: @group) %>
    </td>
    <% end %>
  </tr>
  <% end %>
  <% end %>
</table>
