<h1><%= @heading %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start Time</th>
    <th>Event Type</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td><%= event.location %></td>
    <td><%= event.start_time.strftime('%a %m/%d %I:%M%p') %></td>
    <td><%= event.event_type.name %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
