#sidebar{:style => "width:50%;"}
  %h1 Who's coming?
  %p
    Total RSVPs: #{@event.rsvps.size}
  - if @auth["comms"] and @event.need_transportation
    %p
      Total Transportation: #{@total_transportation}
  %p
    - events = @event.rsvps.sort {|x,y| x.person.first_name <=> y.person.first_name }
    - events.each do |rsvp|
      - person = rsvp.person
      = link_to person.fullname, person
      = " (#{person.email})" if @auth_event_owner
      - if @auth["comms"] and @event.need_transportation
        (#{rsvp.transportation})
      - if events.last != rsvp
        ,
    - if @event.blocks.size > 1
      %h1 Time Slots
      - @event.blocks.each do |block|
        %h3= block.nice_time_range
        - if block.rsvps.empty?
          %p None signed up
        - else
          %ul
            - block.rsvps.each do |rsvp|
              %li
                = rsvp.person.fullname
                = " (#{rsvp.person.email})" if @auth_event_owner
%h1= @event.name
%table#event_info.infobox{:style => "width: auto; margin-right: 20px;"}
  %tr
    %th Date
    %td= @event.nice_time_range
  %tr
    %th Location
    %td= @event.location
  %tr
    %th Event type
    %td= @event.event_type.name
  %tr
    %th Description
    %td
      - if @event.markdown
        :markdown
          #{@event.description}
      - else
        = @event.description
  - if @auth["comms"]
    = link_to 'Edit', edit_event_path(@event)
    |
    = link_to 'Delete Event', event_path(@event), :method => :delete, :confirm => "Are you sure you want to delete this event?"
    |
  = link_to "Add to iCal", single_ical_path(@event.id, :format => :ics)
  |
  - if @auth["comms"] && @event.allows_rsvps?
    = link_to "View RSVPs", event_rsvps_path(@event)
    |
  - if @event.allows_rsvps? and @auth["candplus"]
    - if @current_user_rsvp
      = link_to 'Change RSVP', edit_event_rsvp_path(@event, @current_user_rsvp)
      |
      = link_to 'Remove My RSVP', event_rsvp_path(@event, @current_user_rsvp), :confirm => 'Are you sure?', :method => :delete
      |
    - elsif @event.can_rsvp? @current_user
      - if ((@event.blocks.size == 1 and !@event.blocks.first.full?) or (@event.blocks.size > 1))
        = link_to 'RSVP', '/events/' + @event.id.to_s + '/rsvps/new'
        |
      - else
        %strong RSVPs FULL
        |
  = link_to 'Back to Calendar', events_calendar_path(:year => @event.start_time.year, :month => @event.start_time.month)
