<p class="notice"><%= notice %></p>


<div id="infobar">
  <h1>Who's coming?</h1>
  <% @event.rsvps.map{|x|x.person}.uniq.each do |person| %>
    <%= link_to person.fullname, person %>
  <% end %>
</div>

<h1><%= @event.name %></h1>

<table id="event_info" class="infobox">
  <tr>
    <th class="label">Date</th>
    <td class="something">
      <% if @event.start_time.to_date == @event.end_time.to_date %>
        <%= @event.start_time.strftime('%a %m/%d %I:%M%p') %>-<%= @event.end_time.strftime('%I:%M%p') %>
      <% else %>
        <%= @event.start_time.strftime('%a %m/%d %I:%M%p') %>-<%= @event.end_time.strftime('%a %m/%d %I:%M%p') %>
      <% end %>
    </td>
  </tr>
  <tr><th>Location</th><td><%= @event.location %></td></tr>
  <tr><th>Event type</th><td><%= @event.event_type.name %></td></tr>
  <tr><th>Description</th><td><%= @event.description %></td></tr>
</table>

<% if @auth["act"] %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<% if @auth["members"] or @auth["candidates"] %>
  <% if @current_user_rsvp %>
    <%= link_to 'Change RSVP', edit_event_rsvp_path(@event, @current_user_rsvp) %> |
  <% else %>
    <%= link_to 'RSVP', event_rsvps_path(@event) %> |
  <% end %>
<% end %>
<%= link_to 'Back to Calendar', events_calendar_path(:year => @event.start_time.year, :month => @event.start_time.month) %>
