<div id="sidebar" style="width:50%;">
  <h1>Who's coming?</h1>
  <p>Total RSVPs: <%= @event.rsvps.size %></p>
  <% if @auth["comms"] and @event.need_transportation %>
    <p>Total Transportation: <%= @total_transportation %></p>
  <% end %>
  <p>
  <% events = @event.rsvps.sort {|x,y| x.person.first_name <=> y.person.first_name } %>
  <% events.each do |rsvp| %>
    <% person = rsvp.person %>
    <%= link_to person.fullname, person %>
    <% if @auth["comms"] and @event.need_transportation %>
      (<%= rsvp.transportation %>)
    <% end %>
    <% if events.last != rsvp %>, <% end %>
  <% end %>
  <% if @event.blocks.size > 1 %>
    <h1>Time Slots</h1>
    <% @event.blocks.each do |block| %>
      <h3><%= block.nice_time_range %></h3>
      <% if block.rsvps.empty? %>
        <p>None signed up</p>
      <% else %>
        <ul>
        <% block.rsvps.each do |rsvp| %>
          <li><%= rsvp.person.fullname %></li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
  </p>

</div>

<h1><%= @event.name %></h1>

<table id="event_info" class="infobox" style="width: auto; margin-right: 20px;">
  <tr><th>Date</th><td><%= @event.nice_time_range %></td></tr>
  <tr><th>Location</th><td><%= @event.location %></td></tr>
  <tr><th>Event type</th><td><%= @event.event_type.name %></td></tr>
  <tr><th>Description</th><td><%= @event.description %></td></tr>
</table>

<% if @auth["comms"] %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<% if @event.allows_rsvps? and @auth["candplus"] %>
  <% if @current_user_rsvp %>
    <%= link_to 'Change RSVP', edit_event_rsvp_path(@event, @current_user_rsvp) %> |
    <%= link_to 'Remove My RSVP', event_rsvp_path(@event, @current_user_rsvp), :confirm => 'Are you sure?', :method => :delete %> |
  <% elsif @event.can_rsvp? @current_user %> 
    <% if ((@event.blocks.size == 1 and !@event.blocks.first.full?) or (@event.blocks.size > 1))%>
      <%= link_to 'RSVP', '/events/' + @event.id.to_s + '/rsvps/new' %> |
    <% else %>
      <strong>RSVPs FULL</strong> | 
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Back to Calendar', events_calendar_path(:year => @event.start_time.year, :month => @event.start_time.month) %>
