<p class="notice"><%= notice %></p>

<div id="infobar">
  <h1>Who's coming?</h1>
  <% @event.rsvps.map{|x|x.person}.each do |person| %>
    <%= link_to person.fullname, person %>
  <% end %>
  <% if @event.blocks.size > 1 %>
    <h1>Time Slots</h1>
    <% @event.blocks.each do |block| %>
      <h3><%= block.nice_time_range %></h3>
      <% if block.rsvps.empty? %>
        <p>None signed up</p>
      <% else %>
        <ul>
        <% block.rsvps.each do |rsvp| %>
          <li><%= rsvp.person.fullname %></li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1><%= @event.name %></h1>

<table id="event_info" class="infobox">
  <tr><th>Date</th><td><%= @event.nice_time_range %></td></tr>
  <tr><th>Location</th><td><%= @event.location %></td></tr>
  <tr><th>Event type</th><td><%= @event.event_type.name %></td></tr>
  <tr><th>Description</th><td><%= @event.description %></td></tr>
</table>

<% if @auth["act"] %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<% if @auth["candplus"] %>
  <% if @current_user_rsvp %>
    <%= link_to 'Change RSVP', edit_event_rsvp_path(@event, @current_user_rsvp) %> |
    <%= link_to 'Remove My RSVP', '/events/remove_rsvp/' + @current_user_rsvp.id.to_s%> |
  <% elsif @event.can_rsvp? @current_user %>
    <%= link_to 'RSVP', '/events/' + @event.id.to_s + '/rsvps/new' %> |
  <% end %>
<% end %>
<%= link_to 'Back to Calendar', events_calendar_path(:year => @event.start_time.year, :month => @event.start_time.month) %>
