<h1>RSVPs for <%= @event.name %></h1>

<% @event.blocks.each do |block| %>
  <% unless @event.blocks.size == 1 %>
    <h3><%= block.start_time.strftime('%a %m/%d %I:%M%p') %> - <%= block.end_time.strftime('%a %m/%d %I:%M%p') %></h3>
  <% end %>
  <ul>
  <% block.rsvps.each do |rsvp| %>
    <li><%= link_to rsvp.person.fullname, rsvp.person %></li>
  <% end %>
  </ul>
<% end %>

<br />
<%= link_to 'Back to event description', @event %>
