<h2>Today's Tutoring Schedule</h2>
<div class="small infobar_links"><%= link_to "weekly schedule", "/tutor" %></div>
<% if @tutoring_enabled %>
<% tutors = [] %>
<table id="daily_tutoring_schedule" class="landing tutoring small">
  <tr>
    <th></th>
    <th>290 Cory</th>
    <th>345 Soda</th>
  </tr>
<% for hour in @hours %>
  <tr>
    <td class="time"><%= format_hour_slot hour %></td>
    <td class="pcell"><%= render Slot.get_from_string(@day + hour.to_s + "C") %></td>
    <td class="pcell"><%= render Slot.get_from_string(@day + hour.to_s + "S") %></td>
    <% tutors.concat(Slot.get_from_string(@day + hour.to_s + "C").tutors) %>
    <% tutors.concat(Slot.get_from_string(@day + hour.to_s + "S").tutors) %>
  </tr>
<% end %>
</table>

<div style="float: left; max-width: 18%; padding-left: 2%; padding-top: 10px; line-height: 1.75em;">
	<div class="small">
	<% courses = CoursePreference.all_courses(tutors.uniq) %>
	<% for key in courses.keys %>
	<span class="dept_heading"><%= key %></span>
		<% for course in courses[key] %>
		<% c = "'" + key + course + "'" %>
		<a href="#" class=<%= c %> onmouseover="highlight(<%= c %>)" onmouseout="unhighlight(<%= c %>)" 
		onclick="return locklight(<%= c %>)"><%= course %></a>
		<% end %>
	<br/>
	<% end %>
	<br/>

	<span class="small"><span class="preferred">&nbsp;&nbsp;&nbsp;</span> = preferred</span><br/>
	<span class="small"><span class="completed">&nbsp;&nbsp;&nbsp;</span> = completed</span><br/>
	<span class="small"><span class="current">&nbsp;&nbsp;&nbsp;</span> = in progress</span><br/>

	</div>
</div>

<% else %>
<p><%= @tutoring_message %></p>
<% end %>