<% content_for :header do %>
  <%= javascript_include_tag "tutor" %>
  <%= stylesheet_link_tag "tutor" %>
<% end %>

<h2><%= @tutor_title %></h2>
<div class="small infobar_links"><%= link_to "weekly schedule", "/tutor" %></div>
<% if @tutoring_enabled %>
<p></p>
<% tutors = [] %>
<table id="daily_tutoring_schedule" class="landing tutoring small" style="width:100%">
  <tr>
    <th>Times<br/><small>(Pacific)</small></th>
    <th>Cory 290</th>
    <th>Soda 345</th>
    <th>ProDev OH (Soda 345)<br/><small>No class tutoring</small></th>

  </tr>
<% for hour in @hours %>
  <% cory_slot = @slots.find_by_room_and_wday_and_hour(Slot::Room::Cory, @day, hour) %>
  <% soda_slot = @slots.find_by_room_and_wday_and_hour(Slot::Room::Soda, @day, hour) %>
  <% prodevsoda_slot = @slots.find_by_room_and_wday_and_hour(Slot::Room::ProDevSoda, @day, hour) %>
  <tr>
    <td class="time"><%= format_hour_slot hour %></td>
    <td class="pcell"><%= render cory_slot %></td>
    <td class="pcell"><%= render soda_slot %></td>
	  <td class="pcell"><%= render prodevsoda_slot %></td>
    <% tutors.concat(cory_slot.tutors) %>
    <% tutors.concat(soda_slot.tutors) %>
    <!-- Do not make ProDev Soda tutors part of the tutors list, unless on the other rooms -->
  </tr>
<% end %>
</table>

<div style="float: left; padding-top: 10px; line-height: 1.75em;">
	<div class="small">
	<% courses = CoursePreference.all_courses(tutors.uniq) %>
	<% for key in courses.keys %>
	<span class="dept-heading"><%= key %></span>
		<% for course in courses[key] %>
		<% c = "'" + key + course + "'" %>
		<a href="#" class=<%= c %> onmouseover="highlight(<%= c %>)" onmouseout="unhighlight(<%= c %>)"
		onclick="return locklight(<%= c %>)"><%= course %></a>
                <%= ', ' unless course == courses[key].last %>
		<% end %>
	<br/>
	<% end %>
	<br/>

	<div class="legend-item legend-pref"></div><span class="small">= preferred</span><br/>
	<div class="legend-item legend-comp"></div><span class="small">= completed</span><br/>
	<div class="legend-item legend-curr"></div><span class="small">= in progress</span><br/>

	</div>
</div>

<% else %>
<p><%= @tutoring_message %></p>
<% end %>
