<ul id="upcoming-events" class="plain">
<% for event in @events.select {|e| EventType.find(:all, :conditions => ["name IN (?)", ["Exam", "Review Session"]]).include?(e.event_type)} %>
  <li class="event <%= " current" if event.start_time < Time.now %>">
    <span class="name">
      <%= link_to event.name, event %> (<span class="location"><%= event.location %></span>)
      <% if event.allows_rsvps? and event.can_rsvp? @current_user %>
        [<%= link_to "RSVP", "/events/" + event.id.to_s + "/rsvps/new" %>]
      <% end %>
    </span>
    <span>
      <span class="time">
        <%= event.nice_time_range %>
      </span>
    </span>
    <span class="description"><%= event.description %></span>
  </li>
<% end %>
</ul>
