<h1>Tutoring Schedule</h1>
<% if @tutoring_enabled %>
<div style="float: left; width: 80%; text-align: center; margin-bottom: 30px;">

<% tutors = [] %>
<% [:cory, :soda].map{|x| Slot::ROOMS[x]}.each do |room| %>
<h1><%= @room_numbers[room] %></h1>
<table class="tutoring" id="cory_schedule">
  <tr>
    <th>Hours</th>
    <% @days.each do |day| %>
      <th><%= day %></th>
    <% end %>
  </tr>
  <% @hours.each do |hour| %>
    <tr>
      <td class="time"><%= format_hour_slot hour %></td>
      <% @wdays.each do |wday| %>
        <td class="slot <%= Slot::ROOMS.key(room).to_s %> pcell" id="slot-<%= slot_id room, wday, hour %>">
        <% slot = Slot.find_by_room_and_wday_and_hour(room, wday, hour) %>
        <%= render slot %>
        <% tutors.concat(slot.tutors) %>
      </td>
      <% end%>
    </tr>
  <% end %>
</table>
<% end %>
</div>

<div style="float: left; max-width: 18%; padding-left: 2%; padding-top: 70px; line-height: 1.75em;">
	<div class="small">
	<% courses = CoursePreference.all_courses(tutors.uniq) %>
	<% for key in courses.keys %>
	<span class="dept-heading"><%= key %></span>
		<% for course in courses[key] %>
		<% c = "'" + key + course + "'" %>
		<a href="#" class=<%= c %> onmouseover="highlight(<%= c %>)" onmouseout="unhighlight(<%= c %>)" 
		onclick="return locklight(<%= c %>)"><%= course %></a>
                <%= ', ' unless course == courses[key].last %>
		<% end %>
	<br/>
	<% end %>
	<br/>

	<div class="legend-item legend-pref"></div><span class="small">= preferred</span><br/>
	<div class="legend-item legend-comp"></div><span class="small">= completed</span><br/>
	<div class="legend-item legend-curr"></div><span class="small">= in progress</span><br/>

	</div>
</div>
<div style="clear: both; height: 150px"></div>
<%# End tutoring enabled %>
<% else %>
  <p><%= @tutoring_message %></p>
<% end %>
