<h1>Tutoring Schedule</h1>
<% stylesheet_link_tag "tutor.css" %>
<div style="float: left; width: 80%; text-align: center; margin-bottom: 30px;">

<h1>290 Cory</h1>
<table class="tutoring" id="cory_schedule">
<% @rows.each do |row| %>
	<tr>
	<% if row == "Hours" %>
		<th>Hours</th>
		<% @days.each do |day| %>
		<th><%= day %></th>
		<% end %>
	<% else %>
		<td class="time"><%= format_hour_slot row %></td>
		<% @days.each do |day| %>
		<td  class="slot cory pcell" id="<%= formatslot day, row.to_s + "C" %>">
			<%= render Slot.get_from_string(formatslot day, row.to_s + "C") %>
		</td>
		<% end%>
	<% end %>
	</tr>
<% end %>
</table>

<h1>345 Soda</h1>
<table class="tutoring" id="soda_schedule">
<% @rows.each do |row| %>
	<tr>
	<% if row == "Hours" %>
		<th>Hours</th>
		<% @days.each do |day| %>
		<th class="slot_table_header"><%= day %></th>
		<% end %>
	<% else %>
		<td class="time"><%= format_hour_slot row %></td>
		<% @days.each do |day| %>
		<td  class="slot soda pcell" id="<%= formatslot day, row.to_s + "S" %>">
			<%= render Slot.get_from_string(formatslot day, row.to_s + "S") %>
		</td>
		<% end%>
	<% end %>
	</tr>
<% end %>
</table>
</div>
