<h1>Tutoring Schedule</h1>
<% if @tutoring_enabled %>
<div style="float: left; width: 80%; text-align: center; margin-bottom: 30px;">

<p><strong>Notice:</strong> Due to course policy, HKN tutors cannot help with projects.</p>
<a href="https://hkn.mu/ohqueue">Head to hkn.mu/ohqueue!</a>

<div style="text-align: left;">
  <p>HKN is offering drop-in career advice hours at Soda 345 at <a href="http://hkn.mu/ohqueue">hkn.mu/ohqueue!</a>.
  Please look at the <b>ProDev Office Hours (Soda 345)</b> schedule on this page for when they are hosted</p>

  <p>These are a great opportunity for you to ask questions about:
    <ul>
      <li>Applying to internships/full-time jobs</li>
      <li>Getting tips for resumes and interviews</li>
      <li>Evaluating, comparing, and negotiating job offers</li>
      <li>Research and grad school</li>
      <li>Getting involved with teaching/clubs/organizations</li>
      <li>Choosing which coursework to take</li>
      <li>And more!</li>
    </ul>
  </p>
</div>

<% tutors = [] %>
<% Slot::Room::Valid.each do |room| %>
<h1><%= @room_numbers[room] %></h1>
<% if room == Slot::Room::ProDevSoda %>
  <h2>No class tutoring</h2>
<% end %>
<table class="tutoring" id="schedule">
  <tr>
    <th>Hours<br/><small>(Pacific Time)</small></th>
    <% @days.each do |day| %>
      <th><%= day %></th>
    <% end %>
  </tr>
  <% @hours.each do |hour| %>
    <tr>
      <td class="time"><%= format_hour_slot hour %></td>
      <% @wdays.each do |wday| %>
        <td class="slot <%= Slot::ROOMS.key(room).to_s %> pcell" id="slot-<%= slot_id room, wday, hour %>">
        <% slot = Slot.find_by_room_and_wday_and_hour(room, wday, hour) %>
        <%= render slot %>
        <% tutors.concat(slot.tutors) %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>
</div>

<div style="float: left; max-width: 18%; padding-left: 2%; padding-top: 70px; line-height: 1.75em;">
  <div class="small">
    Click on a class to highlight which tutors can tutor for that specific class.
  </div>
  <br/>
	<div class="small">
	<% courses = CoursePreference.all_courses(tutors.uniq) %>
	<% for key in courses.keys %>
	<span class="dept-heading"><%= key %></span>
		<% for course in courses[key] %>
		<% c = "'" + key + course + "'" %>
		<a href="#" class=<%= c %> onmouseover="highlight(<%= c %>)" onmouseout="unhighlight(<%= c %>)"
		onclick="return locklight(<%= c %>)"><%= course %></a>
                <%= ', ' unless course == courses[key].last %>
		<% end %>
	<br/>
	<% end %>
	<br/>

	<div class="legend-item legend-pref"></div><span class="small">= preferred</span><br/>
	<div class="legend-item legend-comp"></div><span class="small">= completed</span><br/>
	<div class="legend-item legend-curr"></div><span class="small">= in progress</span><br/>

	</div>
</div>
<div style="clear: both; height: 150px"></div>
<%# End tutoring enabled %>
<% else %>
  <p><%= @tutoring_message %></p>
<% end %>
