<nav class="grey darken-3 z-depth-0" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to image_tag("logo6.png", class: 'logo', style: 'padding: 5px'), root_path%>
  </div>
</nav>

<div class="section" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center yellow-text">HKN EECS Day</h1>
    <div class="row center">
      <h5 class="header col s12 light white-text">Saturday, March 12 from 10 a.m. to 4 p.m.</h5>
    </div>
    <div class="row center">
      <h8 class="header col s12 light white-text">Questions? Email serv@hkn.eecs.berkeley.edu</h5>
    </div>
    <div class="row center">
    <%= link_to 'Sign Up Here!',
      'https://docs.google.com/a/hkn.eecs.berkeley.edu/forms/d/13Cldj8iSSnMjfNpZKDxhBygyD4CGVZOkI5eNN-FGMM4',
      target: '_blank',
      id: 'download-button',
      class: 'btn-large waves-effect waves-light yellow' %>
    </div>
    <br><br>

    <div class="row">
      <div class="card red lighten-1  col s4">
        <span class="card-title white-text"><%= link_to 'Details', pages_path(page: 'eecs_day', anchor: 'details')%></span>
      </div>
      <div class="card green lighten-1 col s4">
        <span class="card-title white-text"><%= link_to 'Hosts', pages_path(page: 'eecs_day', anchor: 'hosts')%></span>
      </div>
      <div class="card blue lighten-1 col s4">
         <span class="card-title white-text"><%= link_to 'Sponsors', pages_path(page: 'eecs_day', anchor: 'sponsors')%></span>
      </div>
    </div>
  </div>

  <a id="details"></a>
  <div class="section no-pad-bot red lighten-1 ">
    <div class="container padding row">
      <div class="col s6">
        <span class="card-title white-text agenda-content" style="font-size: 200%">Agenda</span>
        <p class="flow-text white-text agenda-content">10:30 a.m. - 11:00 a.m. Sign In</p>
        <p class="flow-text white-text agenda-content">11:00 a.m. - 11:40 a.m. Speaker</p>
        <p class="flow-text white-text agenda-content">11:50 a.m. - 12:40 a.m. First Event</p>
        <p class="flow-text white-text agenda-content">12:40 p.m. - 1:30 p.m.   Lunch</p>
        <p class="flow-text white-text agenda-content">1:30 p.m. - 2:20 p.m.   Second Event</p>
        <p class="flow-text white-text agenda-content">2:30 p.m. - 3:20 p.m.   Third Event</p>
        <p class="flow-text white-text agenda-content">3:30 p.m. - 4:00 p.m.   Closing Panel</p>
      </div>
      <div class="col s6">
        <span class="card-title white-text agenda-content" style="font-size: 200%">More Information</span>
        <p class="white-text flow-text" style="font-size: 120%;">
          The event will start with a talk from Josh Hug, a UC Berkeley EECS
          professor and a Q&A session shortly after. Throughout the day, groups
          of students will rotate through 3 activities which include:
        </p>
          <ul class="white-text flow-text" style="font-size: 120%;">
            <li>- A department tour of the facilities, labs, and halls</li>
            <li>- A computer science lab</li>
            <li>- An electrical engineering lab</li>
          </ul>
        <p class="white-text flow-text" style="font-size: 120%;">
          The day will end with a student panel, allowing attendees to really
          get a feel for what being in Berkeley EECS is like, and ask any
          unanswered questions.
        </p>
      </div>
    </div>
  </div>
  <a id="hosts"></a>
  <div class="section no-pad-bot green lighten-1 ">
    <div class="padding row">
      <div class="center col s4">
        <%= image_tag("eecs_day/richard.jpg", class: "circle responsive-image", style: "max-width: 100%; max-height: 200px;")%>
        <h4 class="white-text">Richard Qian</h4>
        <p class="white-text">
          Hi! I'm Richard Qian, a current second-year EECS major, with a
          heavy tilt toward Computer Science, and Service Officer of HKN.
          I have a passion for solving problems, and Computer Science is truly
          a hands-on way to build a solution from the ground up. Outside of
          coursework, I enjoy tabletop gaming, good food, and chilling with
          friends. As a founder of this event and one of the primary organizers,
          I hope that you have a great experience!
        </p>
      </div>
      <div class="center col s4">
        <%= image_tag("eecs_day/tavor.jpg", class: "circle responsive-image", style: "max-width: 100%; max-height: 200px;") %>
        <h4 class="white-text">Tavor Baharav</h4>
        <p class="white-text">
          Tavor Baharav is a sophomore, focusing more on the Electrical
          Engineering side of EECS. Aside from HKN, he is also involved in
          Greek Life, and works in a computer vision lab.
        </p>
      </div>
      <div class="center col s4">
        <%= image_tag("eecs_day/brijen.jpg", class: "circle responsive-image", style: "max-width: 100%; max-height: 200px;")%>
        <h4 class="white-text">Brijen Thananjeyan</h4>
        <p class="white-text">
          Brijen Thananjeyan is a second year Electrical Engineering & Computer
          Sciences major at UC Berkeley. He is a service committee officer for
          UC Berkeley HKN and is interested in robotics, control, and
          artificial intelligence. In his spare time he plays tennis, runs,
          and creates fun projects at hackathons.
        </p>
      </div>
    </div>
  </div>
  <a id="sponsors"></a>
  <div class="section no-pad-bot blue lighten-1 ">
    <div class="padding row">
      <div class="center col s4">
        <%= image_tag("http://crowdfundbeat.com/wp-content/uploads/2013/04/berkeleyengineering.jpg") %>
      </div>
      <div class="center col s4">
        <%= link_to image_tag("logo6.png", class: 'logo', style: 'padding: 5px'), root_path%>
      </div>
      <div class="center col s4">
        <%= link_to image_tag("http://library.corporate-ir.net/library/17/176/176060/mediaitems/108/A9_logo_RGB.jpg", class: 'logo', style: 'padding: 5px')%>

      </div>
      <div class="center col s4">
        <%= link_to image_tag("https://www.ti.com/corp/graphics/logos/ti_stk_2c_pos_rgbRev1.gif", class: 'logo', style: 'padding: 5px')%>

      </div>
    </div>
  </div>
</div>
