<nav class="grey darken-3 z-depth-0" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to image_tag("logo6.png", class: 'logo', style: 'padding: 5px'), root_path%>
  </div>
</nav>

<div class="section" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center yellow-text">BearHacks</h1>
    <div class="row center">
      <h5 class="header col s12 light white-text">
        Sunday, April 10 from 10 a.m. to 4 p.m. <br>
        Location: Wozniak Lounge, 387 Soda Hall, Berkeley, CA, 94720
      </h5>
    </div>
    <div class="row center">
    <%= link_to 'Sign Up Here!',
      'https://docs.google.com/a/hkn.eecs.berkeley.edu/forms/d/1tQGz0Bd0xE_dRFFqAvxPMYbNnPCx-PBRhqkmioTMp98/edit?usp=drive_web',
      target: '_blank',
      id: 'download-button',
      class: 'btn-large waves-effect waves-light yellow' %>
    </div>
    <br><br>

    <div class="row">
      <div class="card red lighten-1  col s6">
        <span class="card-title white-text"><%= link_to 'Details', pages_path(page: 'hackathon', anchor: 'details')%></span>
      </div>
      <div class="card green lighten-1 col s6">
        <span class="card-title white-text"><%= link_to 'Hosts', pages_path(page: 'hackathon', anchor: 'hosts')%></span>
      </div>
    </div>
  </div>

  <a id="details"></a>
  <div class="section no-pad-bot red lighten-1 ">
    <div class="container padding row">
      <div class="col s6">
        <span class="card-title white-text agenda-content" style="font-size: 200%">Agenda</span>
        <p class="flow-text white-text agenda-content">10:00 a.m. - 10:30- a.m. Check In</p>
        <p class="flow-text white-text agenda-content">10:30 a.m. - 11:00 a.m. Speaker</p>
        <p class="flow-text white-text agenda-content">12:30 p.m. - Lunch</p>
        <p class="flow-text white-text agenda-content">11:00 a.m. - 3:30 p.m. Hack!</p>
        <p class="flow-text white-text agenda-content">3:00 p.m. - 3:30 p.m. Judging</p>
        <p class="flow-text white-text agenda-content">3:30 p.m. - 3:50 p.m. Walk Around</p>
        <p class="flow-text white-text agenda-content">3:50 p.m. - 4:00 p.m. Prizes and Closing Speech</p>
        <p class="flow-text white-text agenda-content">3:30 p.m. - 4:00 p.m.   Closing Panel</p>
        <p class="flow-text white-text agenda-content" style="font-size: 140%">
          Food and drink will be provided! Please remember to note any allergies or other dietary
          restrictions on the registration form.
      </div>
      <div class="col s6">
        <span class="card-title white-text agenda-content" style="font-size: 200%">More Information</span>
        <p class = "white-text flow-text" style="font-size: 130%">
          BearHacks, hosted by Berkeley’s chapters of Eta Kappa Nu and Upsilon Pi Epsilon,  
          is an educational hackathon geared towards high school students, especially those
          with little to no coding experience. In a 6-hour period, students will have the
          opportunity to work on a small-scale project of their own choosing with teammates
          or by themselves, and current Berkeley Computer Science undergraduates will be
          there to offer individualized guidance. There will also be numerous booths set up
          in the venue, where students can learn the fundamentals of valuable skills such as
          JavaScript, CSS, iOS development, website development, and more, and incorporate them
          into their own projects! BearHacks 2016 is the inaugural event for this program, and
          we’re excited to have you come out and learn with us! 
        </p>
        <p class = "white-text flow-text" style="font-size: 150%">
          Questions?: Email serv@hkn.eecs.berkeley.edu
        </p>
      </div>
    </div>
  </div>
  <a id="hosts"></a>
  <div class="section no-pad-bot green lighten-1 ">
    <div class="padding row">
      <div class="center col s4">
        <%= image_tag("eecs_day/richard.jpg", class: "circle responsive-image", style: "max-width: 100%; max-height: 200px;")%>
        <h4 class="white-text">Richard Qian</h4>
        <p class="white-text">
          Hi! I'm Richard Qian, a current second-year EECS major, with a
          heavy tilt toward Computer Science, and Service Officer of HKN.
          I have a passion for solving problems, and Computer Science is truly
          a hands-on way to build a solution from the ground up. Outside of
          coursework, I enjoy tabletop gaming, good food, and chilling with
          friends. As a founder of this event and one of the primary organizers,
          I hope that you have a great experience!
        </p>
      </div>
      <div class="center col s4">
        <%= image_tag("eecs_day/tavor.jpg", class: "circle responsive-image", style: "max-width: 100%; max-height: 200px;") %>
        <h4 class="white-text">Tavor Baharav</h4>
        <p class="white-text">
          Tavor Baharav is a sophomore, focusing more on the Electrical
          Engineering side of EECS. Aside from HKN, he is also involved in
          Greek Life, and works in a computer vision lab.
        </p>
      </div>
      <div class="center col s4">
        <%= image_tag("eecs_day/brijen.jpg", class: "circle responsive-image", style: "max-width: 100%; max-height: 200px;")%>
        <h4 class="white-text">Brijen Thananjeyan</h4>
        <p class="white-text">
          Brijen Thananjeyan is a second year Electrical Engineering & Computer
          Sciences major at UC Berkeley. He is a service committee officer for
          UC Berkeley HKN and is interested in robotics, control, and
          artificial intelligence. In his spare time he plays tennis, runs,
          and creates fun projects at hackathons.
        </p>
      </div>
    </div>
  </div>


