<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
  <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :cellphone %>
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label 'contact[company_id]', 'Company' %>
    <%= collection_select :contact, :company_id, Company.all, :id, :name, {include_blank: "None"} %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>
  <div class="field-submit">
    <%= f.submit "Submit" %>
  </div>
<% end %>
