<% content_for :header do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#sortable").sortable();
      $("#submit_app").click(function(e){
        e.preventDefault();
        prefs = $($("#sortable").toArray()[0]).children();
        
        prefs_string = ""
        for(var i = 0; i < prefs.length; i++){
          prefs_string += $($(prefs[i]).children()[1]).html() + " ";
        };
        
        $("#committee_prefs").attr("value", prefs_string);
        $("form").submit();
      });
      if($("input[name=release]").attr("value") == "t"){
        $("input[name=release]").attr("checked", "checked");
      }
    });
  </script>
  <style type="text/css">
    ul#sortable{
      list-style: none;
      text-indent: 5px;
    }
    
    li.ui-state-default{
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 2px;
      background: #403f3f url("/images/back_dark.png");
      border: 0px;
      width: 60%;
      margin: 0.5em;
      font-weight: normal;
      color: white;
      cursor:pointer;
    }
    
    .ui-state-default .ui-icon{
      display: inline-block;
      /*background-image: url("/images/icons/move.png");*/
      background-position: 0px 0px;
      position:relative;
      top: 2px;
    }
  </style>
<% end %>

<h1>Candidate Application</h1>

<%= form_tag "/cand/submit_app"  do %> 
  <div style="float:left; width:45%;">
    <div class="field">
      <%= label_tag "Your Local (Berkeley) Address" %>
      <%= text_field_tag(:local_address, @app_details[:local_address]) %>
    </div>
  
    <div class="field">
      <%= label_tag "Your Permanent Address" %>
      <%= text_field_tag(:perm_address, @app_details[:perm_address]) %>
    </div>
  
    <div class="field">
      <%= label_tag "Phone" %>
      <%= text_field_tag(:phone, @app_details[:phone]) %>
    </div>

    <div class="field">
      <%= label_tag "Graduation Semester" %>
      <%= select_tag("graduation", options_for_select(@gradsemcands)) %>
    </div>
    <div class="field">
      <%= label_tag "Initiating this semester?" %>
      <%= check_box_tag(:currently_initiating, true, @app_details[:currently_initiating]) %>
    </div>

    <div class="field">
      <%= label_tag "Release information" %>
      <%= check_box_tag(:release, @app_details[:release]) %>
    </div>
    
    <%= label_tag "What activities would you like to see HKN do this semester?" %><br/>
    <%= text_area_tag(:suggestion, @app_details[:suggestion]) %><br/>

    <%= label_tag "Optionally, is there anything you would like us to know about your committee preferences (experience, strong interest)?" %><br/>
    <%= text_area_tag(:committee_preference_note) %>
  </div>

  <div style="float:left; width: 45%; padding-left: 3em;">
      <%= label_tag "Committee Preferences" %><br/>
    <%= hidden_field_tag(:committee_prefs, "", :id=>"committee_prefs") %>
    <b>Click and drag</b> the bars to sort by your committee preferences (top being the most preferable).
    <ul id="sortable" class="plain">
      <% for pref in @app_details[:committee_prefs] %>
        <li class="ui-state-default">
          <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
          <span><%= pref %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
  
  
  
<%= submit_tag "Save Application", :id=>"submit_app" %>
<% end %>
