<% content_for :header do %>
  <%= javascript_include_tag "jquery-autocomplete.min" %>
  <%= stylesheet_link_tag "jquery-autocomplete" %>
  <style type="text/css">
  
    #checklist{
      background: white;
      padding: 1em;
      -webkit-box-shadow: 0px 5px 20px #eee;
    }
    
    #sidebar, #announcements{
      margin: 1em 0px;
    }
    ul.semi-plain{
      list-style: none;
      padding: 0px;
      margin: 0px;
      padding-left: 1em;
    }
    .req_status{
      display: inline-block;
      width: 16px;
      height: 13px;
      position:relative;
      top:2px;
    }
    .status_done{
      background: url("/images/icons/check.png");
    }
    .status_notdone{
      
      background: url("/images/icons/uncheck.png");
    }
    
    .event_status{
      display: inline-block;
      width: 16px;
      height: 16px;
      position:relative;
      top: 4px;
    }
    
    .event_done{
      background: url("/images/icons/bullet_green.png");
    }
    
    .event_notdone{
      background: url("/images/icons/bullet_red.png");
    }
    
  </style>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '../find_officers',
        success: function(data) {
          $("#officer").autocomplete(data);
        }
      });
      
      $("#challenge_submit").click(function(){
        officer_name = $("input[name=officer]").val();
        challenge_name = $("input[name=challenge_name]").val();
        
        $.post("../request_challenge",  
          { officer: officer_name, name: challenge_name},
          function(data) { 
            console.log(data);
            if(data[0] == true){ //OK submission
              $("#request_challenge_errors").empty();
              $("input[name=officer]").val(""); //clear fields
              $("input[name=challenge_name]").val("");
              
              $("#challenges").load("../update_challenges");
              //$("#challenges").append("<%= escape_javascript(render :partial => "challenges") %>");
              
            } else{
              $("#request_challenge_errors").html(data[1]);
            }
            
          }
        );
      });
      
    });
  </script>
<% end %>
<div id="sidebar" class="trans-bg">
  <h2>Upcoming Events</h2>
  <ul id="upcoming_events" class="plain">
  <% for event in @events %>
    <li class="event">
      <span class="name"><%= event.name %></span>
      <span>
        <span class="time">
          <%= event.start_time %> to <%= event.end_time %>
        </span>
        <span class="location"><%= event.location %></span>
      </span>
      <span class="description"><%= event.description %></span>
    </li>
  <% end %>
  </ul>
  
  <h2>Important Information</h2>
  [Coming Soon]
  
  <h2>Additional Forms</h2>
  [Coming Soon]
</div>

<div id="main">
  <h1>Candidate Portal</h1>
  
  <div id="announcements" class="trans-bg">
    <h2>Announcements</h2>
      <ul class="plain">
      <% for a in @announcements %>
        <li class="announcement">
          <span class="title"><%= a.title %></span> - <span class="author"><%= a.person.first_name  + " " + a.person.last_name %></span>
          <span class="body"><%= a.body %></span>
        </li>
      <% end %>
      </ul>
  </div>
  
  <div id="checklist">
    <h2>Checklist</h2>
    
    <div style="float:left; width: 45%;">
      <h3>
        <span class="<%= "req_status " + (false ? "status_done" : "status_notdone") %>"></span>
        Events</h3>
      <ul class="semi-plain">
        <% @status.each do |req, status| %>
        <li>
          <h4>
            <span class="<%= "req_status " + (status ? "status_done" : "status_notdone") %>"></span>
            <%=h req.to_s %>
          </h4>
          <ul class="semi-plain">
            <% for rsvp in @rsvps[req] %>
            <li><span class="<%= "event_status " + (rsvp.confirmed == 'true' ? 'event_done' : 'event_notdone') %>"></span><%= rsvp.event.name %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>

    <div style="float:left; width: 45%; padding-left: 3em;">
      <h3>
        <span class="<%= "req_status " + (false ? "status_done" : "status_notdone") %>"></span>
        Challenges</h3>
      <ul id="challenges" class="semi-plain">
        <%= render :partial => "challenges"%>    
      </ul>
    
      <div id="request_challenge_container">
        <h4>Request Challenge Confirmation</h4>
        <span id="request_challenge_errors"></span>
        <div class="field">
          <%= label_tag "Find Officer" %>
          <%= text_field_tag "officer", "", :id => "officer" %>
        </div>
      
        <div class="field">
        <%= label_tag "Challenge Name"%>
        <%= text_field_tag "challenge_name" %>
        </div>
        
        <p>
        <%= submit_tag "Send Request", :id => "challenge_submit" %>
        </p>
      </div>
      
      <h3>
        <span class="<%= "req_status " + (false ? "status_done" : "status_notdone") %>"></span>
        Forms</h3>
      <ul id="forms" class="semi-plain">
        <li>
          <span class="<%= "event_status " + (false ? 'event_done' : 'event_notdone') %>"></span>
          <%= link_to "Resume", "../../resumes/upload" %>
        </li>
        <li>
          <span class="<%= "event_status " + (false ? 'event_done' : 'event_notdone') %>"></span>
          <%= link_to "Quiz", "../quiz" %>
        </li>
      </ul>
      
    </div>
    <div class="clear light-hbar"></div>
    <h3>
      <span class="<%= "req_status " + (false ? "status_done" : "status_notdone") %>"></span>
      Course Surveys</h3>
    <% if @coursesurveys_active %>
      <% if @current_user.coursesurveys.count < @required_surveys %>
        <%= link_to "Sign Up", coursesurvey_signup_path %>
      <% else %>
        You are currently signed up for:
        <table>
          <tr>
            <th>Status</th>
            <th>Course Name</th>
            <th>Section</th>
            <th>Title</th>
            <th>Instructor(s)</th>
            <th>Times</th>
            <th>Location</th>
            <th>Notes</th>
            <th>Other Surveyors</th>
          </tr>
          <% @coursesurveys.each do |coursesurvey| %>
            <tr>
              <td><%= coursesurvey.get_status_text() %></td>
              <td><%= coursesurvey.klass.course.course_abbr %></td>
              <td><%= coursesurvey.klass.section %></td>
              <td><%= coursesurvey.klass.course.name %></td>
              <td>
                <% coursesurvey.klass.instructors.each do |instructor| %>
                  <%= instructor.full_name %>
                <% end %>
              </td>
              <td><%= coursesurvey.klass.time %></td>
              <td><%= coursesurvey.klass.location %></td>
              <td><%= coursesurvey.klass.notes %></td>
              <td>
                <% coursesurvey.surveyors.reject{|x| x == @current_user }.each do |surveyor| %>
                  <%= link_to surveyor.fullname, surveyor %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% else %>
      Coming Soon!
    <% end %>
  </div>
</div>

