<% content_for :header do %>
  <%= javascript_include_tag "jquery-autocomplete.min" %>
  <%= stylesheet_link_tag "jquery-autocomplete" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '<%= find_officers_path %>',
        success: function(data) {
          $("#officer").autocomplete(data, {
            formatItem: function(item) {
              return item.name;
            }
          }).result(function(event, item){
            $('#officer_id').val(item.id);
          });
        }
      });

      $("#challenge_submit").click(function(){
        officer_name = $("input[name=officer_id]").val();
        challenge_name = $("input[name=challenge_name]").val();
        description = $("textarea[name=description]").val();

        $.post("<%= request_challenge_path %>",
          { officer_id: officer_name, name: challenge_name, description: description},
          function(data) {
            //console.log(data);
            if(data[0] == true){ //OK submission
              $("#request_challenge_errors").empty();
              $("input[name=officer]").val(""); //clear fields
              $("input[name=challenge_name]").val("");
              $("textarea[name=description]").val("");

              $("#challenges").load("<%= update_challenges_path %>");
              //$("#challenges").append("<%= escape_javascript(render :partial => "challenges") %>");

            } else{
              $("#request_challenge_errors").html(data[1]);
            }

          }
        );
      });

    });
  </script>
<% end %>
<div id="sidebar" class="trans-bg">
  <h2>Upcoming Events <%= link_to "(see calendar)", events_calendar_path %></h2>
  <%= render :partial => "events/upcoming" %>

  <h2>Important Information</h2>
  [Coming Soon]

  <h2>Additional Forms</h2>
  [Coming Soon]
</div>

<div id="main">
  <h1>Candidate Portal</h1>

  <div id="announcements" class="trans-bg">
    <h2>Announcements</h2>
      <ul class="plain">
      <% for a in @announcements %>
        <li class="announcement">
          <span class="title"><%= a.title %></span> (Posted by <span class="author"><%= link_to(a.person.first_name  + " " + a.person.last_name, a.person) %>)</span>
          <span class="body"><%= a.body %></span>
        </li>
      <% end %>
      </ul>
  </div>

  <div id="checklist">
    <h2>Checklist</h2>

    <div style="float:left; width: 45%;">
      <h3>
        <span class="<%= "req_status " + (@done["events"] ? "status_done" : "status_notdone") %>"></span>
        Events</h3>
      <ul class="semi-plain">
        <% @status.each do |req, status| %>
        <li>
          <h4>
            <span class="<%= "req_status " + (status ? "status_done" : "status_notdone") %>"></span>
            <%=h req.to_s %>
          </h4>
          <ul class="semi-plain">
            <% for rsvp in @rsvps[req] %>
            <li><span class="<%= "event_status " + (rsvp.confirmed == 't' ? 'event_done' : 'event_notdone') %>"></span><%= rsvp.event.name %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>

    <div style="float:left; width: 45%; padding-left: 3em;">
      <h3>
        <span class="<%= "req_status " + (@done["challenges"] ? "status_done" : "status_notdone") %>"></span>
        Challenges</h3>
      <ul id="challenges" class="semi-plain">
        <%= render :partial => "challenges"%>
      </ul>

      <div id="request_challenge_container">
        <h4>Request Challenge Confirmation</h4>
        <span id="request_challenge_errors"></span>
        <div class="field">
          <%= label_tag "Find Officer" %>
          <%= text_field_tag "officer", "", :id => "officer" %>
        </div>

        <div class="field">
        <%= label_tag "Challenge Name"%>
        <%= text_field_tag "challenge_name" %>
        </div>

        <div class="field">
            <%= label_tag "Description (Optional)" %>
            <%= text_area_tag "description"%>
        </div>

        <%= hidden_field_tag "officer_id", "", :id => "officer_id" %>

        <p>
        <%= submit_tag "Send Request", :id => "challenge_submit" %>
        </p>
      </div>

      <h3>
        <span class="<%= "req_status " + (@done["forms"] ? "status_done" : "status_notdone") %>"></span>
        Forms</h3>
      <ul id="forms" class="semi-plain">
        <li>
          <span class="<%= "event_status " + (@done["resume"] ? 'event_done' : 'event_notdone') %>"></span>
          <%= link_to "Resume", "../../resumes/upload" %>
        </li>
        <li>
          <span class="<%= "event_status " + (@done["quiz"] ? 'event_done' : 'event_notdone') %>"></span>
          <%= link_to "Quiz", "../quiz" %>
        </li>
      </ul>

    </div>
    <div class="clear light-hbar"></div>
    <h3>
      <span class="<%= "req_status " + (@done["course_surveys"] ? "status_done" : "status_notdone") %>"></span>
      Course Surveys</h3>
<% if Property.get_or_create.coursesurveys_active %>
    <%= link_to 'View Course Surveys', :coursesurvey_signup %>
    <%= render :partial => "coursesurveys" %>
<% else %>
    [Coming Soon]
<% end %>


  </div>
</div>

