<% content_for :header do %>
  <%= javascript_include_tag "jquery-autocomplete.min" %>
  <%= stylesheet_link_tag "jquery-autocomplete" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '../find_officers',
        success: function(data) {
          $("#officer").autocomplete(data);
        }
      });
      
      $("#challenge_submit").click(function(){
        officer_name = $("input[name=officer]").val();
        challenge_name = $("input[name=challenge_name]").val();
        
        $.post("../request_challenge",  
          { officer: officer_name, name: challenge_name},
          function(data) { 
            if(data == "true"){ //OK submission
              $("input[name=officer]").val(""); //clear fields
              $("input[name=challenge_name]").val("");
              
              //ajax
              ch = $("<li></li>");
              ch.append($("<span></span>").addClass("officer_name").html(officer_name));
              ch.append($("<span></span>").addClass("challenge_name").html(challenge_name));
              ch.append($("<span></span>").addClass("challenge_status").html("Pending"));
              $("#challenges").append(ch);
              
            } else{
              $("#request_challenge_errors").html(data);
            }
            
          }
        );
      });
      
    });
  </script>
<% end %>
<div id="sidebar">
  <h2>Upcoming Events</h2>
  <ul id="upcoming_events" class="plain">
  <% for event in @events %>
    <li class="event">
      <span class="name"><%= event.name %></span>
      <span>
        <span class="time">
          <%= event.start_time %> to <%= event.end_time %>
        </span>
        <span class="location"><%= event.location %></span>
      </span>
      <span class="description"><%= event.description %></span>
    </li>
  <% end %>
  </ul>
</div>

<div id="main">
  <h1>Candidate Portal</h1>
  
  <div id="announcements">
    <h2>Announcements</h2>
      <ul class="plain">
      <% for a in @announcements %>
        <li class="announcement">
          <span class="title"><%= a.title %></span> - <span class="author"><%= a.person.first_name  + " " + a.person.last_name %></span>
          <span class="body"><%= a.body %></span>
        </li>
      <% end %>
      </ul>
  </div>
  
  <div id="checklist">
    <h2>Checklist</h2>
  
    <h3>Events</h3>
    <% @status.each do |req, status| %>
    <h4>
      <%=h req.to_s + ": " %>
      <% if status == true %>
      <span class="status_done">Done</span>
      <% else %>
      <span class="status_notdone">Not Done</span>
      <% end %>
    </h4>
    <ul class="plain">
      <% for rsvp in @rsvps[req] %>
      <li><%= rsvp.event.name %> <%= rsvp.confirmed == "true" ? "Confirmed" : "Not Confirmed" %></li>
      <% end %>
    </ul>
    <% end %>

    <h3>Challenges</h3>
    <ul id="challenges" class="plain">
    <% if @challenges.length > 0 %>
      <% for challenge in @challenges %>
        <li>
          <% officer = Person.find(challenge.officer_id) %>
          <span class="officer_name"><%= officer.first_name + " " + officer.last_name %></span>
          <span class="challenge_name"><%= challenge.name %></span>
          <span class="challenge_status"><%= challenge.status ? "Done" : "Pending" %></span>
        </li>
      <% end %>
    <% else %>
      No challenges requested
    <% end %>
    </ul>
    
    <div id="request_challenge_container">
      <h4>Request Challenge Confirmation</h4>
      <span id="request_challenge_errors"></span>
      <%= label_tag "Find Officer" %>
      <%= text_field_tag "officer", "", :id => "officer" %>
  
      <%= label_tag "Challenge Name"%>
      <%= text_field_tag "challenge_name" %>
  
      <%= submit_tag "Send Request", :id => "challenge_submit" %>
    </div>

    <h3>Course Surveys</h3>
    [Coming Soon]
    
    <h3>Forms</h3>
    <ul id="forms" class="plain">
      <li>
        <%= link_to "Resume", "../../resumes/upload" %>
      </li>
      <li>
        <%= link_to "Quiz", "../quiz" %>
      </li>
    </ul>

    <h3>Additional Forms</h3>
    [Coming Soon]
  </div>
</div>

