<div id="main" style="float:left">
  <h1>Candidate Portal</h1>
  <h2>Announcements</h2>

  <h2>Checklist</h2>

  <h3>Events</h3>
  <% @status.each do |req, status| %>
  <h4>
    <%=h req.to_s + ": " %>
    <% if status == true %>
    <span class="status_done">Done</span>
    <% else %>
    <span class="status_notdone">Not Done</span>
    <% end %>
  </h4>
  <ul>
    <% for rsvp in @rsvps[req] %>
    <%= rsvp.event.name %> <%= rsvp.event.confirmed == true ? "Confirmed" : "Not Confirmed" %>
    <% end %>
  </ul>
  <% end %>
 
 

  <h3>Challenges</h3>

  <h4>Request Challenge Confirmation</h4>
  [[put form here]]

  <h3>Course Surveys</h3>

  <h3>Forms</h3>
  <ul>
    <li>
      <%= link_to "Resume", "../../resume/upload" %>
    </li>
    <li>
      <%= link_to "Quiz", "../quiz" %>
    </li>
  </ul>

  <h3>Additional Forms</h3>
</div>
<div id="sidebar" style="float:right">
  <h2>Upcoming Events</h2>
</div>
