<% content_for :header do %>
  <%= javascript_include_tag "jquery-autocomplete.min" %>
  <%= stylesheet_link_tag "jquery-autocomplete" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '../find_officers',
        success: function(data) {
          $("#officer").autocomplete(data);
        }
      });
      
      $("#challenge_submit").click(function(){
        $.post("../request_challenge",  
          { officer: $("input[name=officer]").val(), name: $("input[name=challenge_name]").val() },
          function(data) { 
            console.log(data);
            $("input[name=officer]").val("");
            $("input[name=challenge_name]").val("");
          }
        );
      });
      
    });
  </script>
<% end %>

<div id="main" style="float:left">
  <h1>Candidate Portal</h1>
  <h2>Announcements</h2>

  <h2>Checklist</h2>

  <h3>Events</h3>
  <% @status.each do |req, status| %>
  <h4>
    <%=h req.to_s + ": " %>
    <% if status == true %>
    <span class="status_done">Done</span>
    <% else %>
    <span class="status_notdone">Not Done</span>
    <% end %>
  </h4>
  <ul>
    <% for rsvp in @rsvps[req] %>
    <%= rsvp.event.name %> <%= rsvp.event.confirmed == true ? "Confirmed" : "Not Confirmed" %>
    <% end %>
  </ul>
  <% end %>
 
 

  <h3>Challenges</h3>
  
  <div id="challenges">
    <% if @challenges.length > 0 %>
      <% for challenge in @challenges %>
        <% officer = Person.find(challenge.officer_id) %>
        <%= challenge.name %> (<%= officer.first_name + " " + officer.last_name %>) 
      <% end %>
    <% else %>
      No challenges requested
    <% end %>
  </div>

  <h4>Request Challenge Confirmation</h4>
  <%= label_tag "Find Officer" %>
  <%= text_field_tag "officer", "", :id => "officer" %>
  
  <%= label_tag "Challenge Name"%>
  <%= text_field_tag "challenge_name" %>
  
  <%= submit_tag "Send Request", :id => "challenge_submit" %>

  <h3>Course Surveys</h3>

  <h3>Forms</h3>
  <ul>
    <li>
      <%= link_to "Resume", "../../resume/upload" %>
    </li>
    <li>
      <%= link_to "Quiz", "../quiz" %>
    </li>
  </ul>

  <h3>Additional Forms</h3>
</div>
<div id="sidebar" style="float:right">
  <h2>Upcoming Events</h2>
</div>
