<%= form_for([@event, @rsvp]) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Event</label>
    <div><%= link_to @event.name, @event %></div>
  </div>

  <div class="field">
    <label>Person</label>
    <div><%= link_to @current_user.fullname, @current_user %></div>
  </div>

  <% if @event.need_transportation %>
  <div class="field">
    <%= f.label :transportation %>
    <%= f.select :transportation, Rsvp::TRANSPORT_ENUM %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :comment, 'Anything we should know?' %>
    <%= f.text_area :comment %>
  </div>

  <% if @event.blocks.size > 1 %>
  <div class="field">
    <%= f.label :blocks, 'Time slots' %>
    <div>
      <ul class="plain" style="display: table">
    <% @event.blocks.each do |block| %>
      <li>
        <%= check_box_tag "block[#{block.id}]", true, @rsvp.blocks.include?(block), :disabled => block.full? %>
        <% if block.full? %>
          <s><%= block.nice_time_range %></s>
          <b>FULL</b>
        <% else %>
          <%= block.nice_time_range %>
        <% end %>
      </li>
    <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="field-submit">
    <%= f.submit 'RSVP!' %>
  </div>
<% end %>
