<div id="ajax-wrapper">
  <%= spinner %>
  <%= will_paginate @companies, :class => "ajax-controls ajax" %>

  <table class="table">
    <tr class="ajax-controls">
      <th><%= sort_link 'Name', 'name' %></th>
      <th>Address</th>
      <th>Website</th>
      <th>Comments</th>
      <th>Access Key</th>
    </tr>

  <% for company in @companies %>
    <tr>
      <td><%=h company.name %></td>
      <td><%=h company.address %></td>
      <td><%=h company.website %></td>
      <td><%=h company.comments %></td>
      <td><%=h company.single_access_token %></td>
      <td><%= link_to 'Show', company %></td>
      <td><%= link_to 'Edit', edit_company_path(company) %></td>
      <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
