<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Comments:</b>
  <%= @company.comments %>
</p>

<p>
  <b>Access Token:</b>
  <%= @company.single_access_token %>
</p>

<p>
  <b>Contacts:</b>
  <ul>
    <% @contacts.each do |contact| %>
      <li><%= link_to contact.name, contact_path(contact) %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
