  <%- courses.each do |tuple| -%>
    <%- (course, instructors, rating, klass) = tuple -%>
    <tr>
      <%# We don't use course.course_abbr because it requires an extremely redundant second database lookup on department %>
      <td><%= link_to "#{@department.nice_abbrs.first} #{course.full_course_number} #{course.name}", coursesurveys_course_path(@department.nice_abbrs.first, course.full_course_number) %></td>
      <td>
        <%- instructors.each do |instructor_id| -%>
          <%- instructor = Instructor.find(instructor_id) -%>
          <%= link_to instructor.last_name, surveys_instructor_path(instructor) %><%= ", " unless instructor_id == instructors.last -%>
        <%- end -%>
      </td>
      <td>
        <%= sprintf "%.1f", rating %> / <%= @prof_eff_q.max.to_f %> 
        <%= rating_bar(rating/@prof_eff_q.max) %>
      </td>
      <td>
        <%= link_to klass.proper_semester, surveys_klass_path(klass) %>
      </td>
    </tr>
  <%- end -%>
