%h1 Quicklinks

%h2 Search For an Instructor or Course
= form_tag(coursesurveys_search_path, method: :get) do
  = text_field_tag(:q, "")
  = submit_tag "Search", name: nil

%div=link_to "Log in for official course staff hiring", coursesurveys_auth_path

If you still don't have access to private ratings, please
%div{style: "display: inline-block;"}=link_to "contact us.", about_contact_path

%h2 Browse Instructors and Courses
%ul.plain
  %li= link_to "Electrical Engineering Courses", coursesurveys_department_path("EE")
  %li= link_to "Computer Science Courses", coursesurveys_department_path("CS")
  %li= link_to "TAs/Instructors per Semester", coursesurveys_semesters_path

%h2 More Information
%ul.plain
  %li= link_to "How to use the course survey system", coursesurveys_how_to_path
  %li= link_to "Information for professors and TAs", coursesurveys_info_profs_path
  %li= link_to "Information about hidden GSI ratings", coursesurveys_ferpa_path
  %li= link_to "Aggregate statistics", comingsoon_path
