<%# content_for :header do %>
<%# Temporarily disabling chart %>
<% if false %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    
    google.setOnLoadCallback(drawChart);
    
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Semester');
      data.addColumn('number', 'Teaching Effectiveness');
      data.addColumn('number', 'Worthwhile Course?');
      data.addRows($(".semester").length);
      
      count = 0;
      $("#ratings tbody tr").each(function(){
        dat = $($(this)).children("td")
        year = $(dat[0]).find(".semester a").html();
        eff = parseFloat($(dat[2]).find(".rating").html(), 10);
        worth = parseFloat($(dat[3]).find(".rating").html(), 10);
        
        console.log(year + ": " + eff + " " + worth);
        
        if(year != null){
          data.setValue(count, 0, year);
          data.setValue(count, 1, eff);
          data.setValue(count, 2, worth);
          count++;
        }
        
      }); 

      var chart = new google.visualization.ColumnChart($("#chart_div")[0]);
      chart.draw(data, 
        { width: $(window).width() * 0.9, height: 400,
          title: 'Course Survey', colors:['#235185','#f9df49'],
          backgroundColor: 'none',
          hAxis: {title: 'Year', titleTextStyle: {color: 'gray'}},
          isStacked: false,
          reverseCategories: true
        }
      );
    }
  </script>
<% end %>
<%# end %>

<div class="trans-bg">
  <h1><%= @course.course_name %></h1>
  <table id="course_info" class="infobox">
  <%- unless @course.name.eql?("(No title)") -%>
    <tr> <th>Title</th>            <td><%= @course.name %></td> </tr>
  <%- end -%>
  <%- unless @instructors.blank? -%>
    <tr>
      <th><%= 'Instructor'.pluralize_for(@instructors.size) %> in Charge</th>
      <td>
        <% @instructors.each do |instructor| %>
          <%= link_to instructor.full_name, surveys_instructor_path(instructor) %>
        <% end %>
      </td>
    </tr>
  <%- end -%>
  <%- unless @course.units.nil? -%>
    <tr> <th>Units</th>         <td><%= @course.units %></td> </tr>
  <%- end -%>
  <%- unless @course.prereqs.blank? -%>
    <tr> <th>Prerequisites</th> <td><%= @course.prereqs %></td> </tr>
  <%- end -%>
  <%- unless @course.description.blank? -%>
    <tr> <th>Description</th>   <td><%= @course.description %></td> </tr>
  <%- end -%>
  </table>
</div>
<%- if @course.klasses.blank? -%>
<p>No survey data available for this course.</p>
<%- else -%>
<div id="chart_div"></div> 

<div id="table">
  <table id="ratings" class="table">
    <tr>
      <th>Sections</th>
      <th>Instructor</th>
      <th>Teaching Effectiveness</th>
      <th>How worthwhile was this course?</th>
    </tr>
  <%- @results.each do |result|
      klass, instructors, effectiveness_mean, worthwhileness_mean = result[:klass], result[:instructors], result[:effectiveness][:score], result[:worthwhile][:score]
      effective_max, worthwhile_max = result[:effectiveness][:max], result[:worthwhile][:max]
  -%>
    <tr>
      <td>
        <span class="semester"><%= link_to klass.proper_semester, surveys_klass_path(klass) %></span>
      </td>
      <td>
        <%= raw instructors.collect{|i| link_to i.full_name, surveys_instructor_path(i)}.join(', ') %>
      </td>
      <%- [ :effectiveness, :worthwhile ].each do |qname| -%>
        <td>
          <%= rating_and_bar result[qname][:score], @overall[qname][:max] %>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
    <tr>
      <th colspan="2">Overall Rating</th>
      <th>Teaching Effectiveness</th>
      <th>How worthwhile was this course?</th>
    </tr>
    <tr>
      <td colspan="2"></td>
      <%- [:effectiveness, :worthwhile].each do |qname| -%>
        <td>
          <%= rating_and_bar @overall[qname][:score], @overall[qname][:max] %>
        </td>
      <%- end -%>
    </tr>
  </table>
</div>

<div class="clear"></div>
<%- end -%>

<div style="text-align: center; padding-top: 1em;">
  <%= render :partial => 'emailhkn' %>
  <%= link_to "[Info about this page]", coursesurveys_how_to_path %></a>
</div>
