<h1><%= @course.course_name %></h1>

<img id="trend" src="/trend" alt="trend"/>
<table id="course_info" class="infobox">
  <tr> <th>Title</th>            <td><%= @course.name %></td> </tr>
<%- unless @instructors.blank? -%>
  <tr>
    <th>Instructor<%= @instructors.size > 1 ? "s" : "" %> in Charge</th>
    <td>
      <% @instructors.each do |instructor| %>
        <%= link_to instructor.name, surveys_instructor_path(instructor) %>
      <% end %>
    </td>
  </tr>
<%- end -%>
  <tr> <th>Units</th>         <td><%= @course.units %></td> </tr>
<%- unless @course.prereqs.blank? -%>
  <tr> <th>Prerequisites</th> <td><%= @course.prereqs %></td> </tr>
<%- end -%>
  <tr> <th>Description</th>   <td><%= @course.description %></td> </tr>
</table>

<%- if @course.klasses.blank? -%>
<p>No survey data available for this course.</p>
<%- else -%>
<table id="ratings">
  <tr>
    <th>Sections</th>
    <th>Instructor</th>
    <th>Teaching Effectiveness</th>
    <th>How worthwhile was this course?</th>
  </tr>
<%- @results.each do |klass, instructor, effectiveness, worthwhileness| -%>
  <tr>
    <td>
      <%= link_to klass.proper_semester, surveys_klass_path(klass) %>
    </td>
    <td>
      <%= link_to instructor.name, coursesurveys_instructor_path(instructor.name) %>
    </td>
    <td>
      <%= sprintf "%.1f", effectiveness.mean %> / <%= effectiveness.survey_question.max.to_f %>
      <%= rating_bar(effectiveness.mean/7.0) %>
    </td>
    <td>
      <%= sprintf "%.1f", worthwhileness.mean %> / <%= worthwhileness.survey_question.max.to_f %>
      <%= rating_bar(worthwhileness.mean/7.0) %>
    </td>
  </tr>
<%- end -%>
  <tr>
    <th colspan="2">Overall Rating</th>
    <th>Teaching Effectiveness</th>
    <th>How worthwhile was this course?</th>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>
      <%= sprintf "%.1f", @total_effectiveness %> / 7.0
      <%= rating_bar(@total_effectiveness/7.0, "url") %>
    </td>
    <td>
      <%= sprintf "%.1f", @total_worthwhileness %> / 7.0
      <%= rating_bar(@total_worthwhileness/7.0) %>
    </td>
  </tr>
</table>

<p><strong>Hint:</strong> You can click on the colored rating bars to see detailed statistics on a particular rating.</p>
<%- end -%>

<a href="mailto:www-coursesurvey@hkn.eecs.berkeley.edu?subject=Comment on HKN Course Survey page http://hkn.eecs.berkeley.edu/student/CourseSurvey/courses/EE/40/">[Email HKN about this data]</a>
<a href="/student/howtouse.shtml">[Info about this page]</a>
