<h1><%= @department.name %> Courses</h1>

<%- unless @full_list -%>
  This list contains only courses which have been taught within the past 4 years. See also <%= link_to "all courses", "?full_list=true" %>.
<%- end -%>

<table id="ratings" class="table">
  <%- [ [@lower_div, 'Lower-Division'],
        [@upper_div, 'Upper-Division'],
        [@grad,      'Graduate'      ]   ].each do |courses, course_type|
  -%>
    <tr><th><%= course_type %></th><th>Instructors</th><th>Rating</th><th>Last Taught</th></tr>

    <%- courses.each do |c| -%>
      <%# Course name %>
      <td><%= link_to "#{c[:course].course_abbr} #{c[:course].name}",
                      coursesurveys_course_path(c[:course].dept_abbr, c[:course].full_course_number)
           %></td>

      <%# Instructors %>
      <td><%= raw c[:instructors].collect {|i| link_to i.last_name, surveys_instructor_path(i)} .join(', ') %></td>

      <%# Rating %>
      <td><%= rating_and_bar c[:mean], @prof_eff_q.max %></td>

      <%# Latest klass %>
      <td><%= link_to c[:klass].proper_semester, surveys_klass_path(c[:klass]) %></td>

    </tr>
    <%- end -%>

  <%- end -%>
</table>
