<div id="instructor_box" class="trans-bg">
  <h1><%= @instructor.full_name %></h1>

  <div style="float:left; margin-right: 1em;">
    <% if @instructor.picture && File.file?(File.join('public', @instructor.picture)) && !@instructor.picture.blank? %>
      <%= image_tag @instructor.picture, class: "instructor-photo" unless @instructor.picture.blank? %>
    <% elsif @instructor.instructor? && !(@possible_picture_url = @instructor.get_possible_remote_image).nil? # guess the picture, but only if instructor.. %>
      <%= image_tag @possible_picture_url, class: 'instructor-photo' %>
    <% else %>
      <%# no picture %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<%= form_for @instructor, method: :post, url: coursesurveys_update_instructor_path(@instructor) do |f| %>
  <%= render 'instructor_form', form: f %>
<% end %>
