<div id="instructor_box" class="trans-bg">
  <h1><%= @instructor.full_name %></h1>

  <div style="float:left; margin-right: 1em;">
    <% if @instructor.picture && !@instructor.picture.blank? && File.file?(File.join('public', @instructor.picture)) %>
      <%= image_tag @instructor.picture, class: "instructor-photo" unless @instructor.picture.blank? %>
    <% elsif @instructor.instructor? # guess the picture, but only if instructor.. %>
      <% if @instructor.picture && !@instructor.picture.blank? && !@instructor.picture.match?(/\..+$/) %>
        <% # Manual Photo entry by name without extension, ignoring if an extension is provided (in the past, images saved in a folder) %>
        <%= image_tag "http://www.eecs.berkeley.edu/Faculty/Photos/Homepages/#{@instructor.picture}.jpg", class: 'instructor-photo' %>
      <% else %>
        <%= image_tag "http://www.eecs.berkeley.edu/Faculty/Photos/Homepages/#{@instructor.last_name.downcase}.jpg", class: 'instructor-photo' %>
      <% end %>
    <% else %>
      <%# no picture %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<%= form_for @instructor, method: :post, url: coursesurveys_update_instructor_path(@instructor) do |f| %>
  <%= render 'instructor_form', form: f %>
<% end %>
