<div id="infobar">
  <h1>Quicklinks</h1>
  <h3>Browse Instructors and Courses</h3>
  <ul class="plain">
    <li><%= link_to "Instructors", coursesurveys_instructors_path("instructors") %></li>
    <li><%= link_to "Teaching Assistants", coursesurveys_instructors_path("tas") %></li>
    <li><%= link_to "Electrical Engineering Courses", coursesurveys_department_path("EE") %></li>
    <li><%= link_to "Computer Science Courses", coursesurveys_department_path("CS") %></li>
  </ul>

  <h3>More Information</h3>
  <ul class="plain">
    <li><%= link_to "How to use the course survey system", coursesurveys_how_to_path %></li>
    <li><%= link_to "Information for professors and TAs", coursesurveys_info_profs_path %></li>
    <li><%= link_to "Information about hidden GSI ratings", coursesurveys_ferpa_path %></li>
    <li><s><a href="/student/CourseSurvey/stats/">Aggregate statistics</a></s> Low priority to add this</li>
  </ul>
</div>

<h1>Course Surveys</h1>

<p>
  Course survey data for all undergraduate and graduate level EECS courses are available here.
</p>

<p>
  There are hundreds of thousands of pages, so, although most aspects work fine, there may be errors of which we are unaware.  If you spot an error, especially a missing class or professor, or have a suggestion for the site, please email <%= link_to "www-coursesurvey@hkn.eecs.berkeley.edu", "mailto:www-coursesurvey@hkn.eecs.berkeley.edu" %>.
</p>

<h2>Search For an Instructor or Course</h2>
<form action="/student/CourseSurvey/search" method="get">
  <div>
    <input type="text" name="n" size="40" />
    <input type="submit" name="sb" value=" Search " />
  </div>
</form>

<h2>Prerequisite Charts</h2>
<p>(Click on a course in the images below to see its ratings)</p>
<%= render :partial => "eemap" %>
<%= render :partial => "csmap" %>
