<h1><%= {:ta=>"Teaching Assistants", :prof=>"Instructors"}[@category] %></h1>

<table id="ratings" class="table">
  <tr><th>Name</th><th>Recent Courses</th><th>Rating</th></tr>
  <%- @results.each do |result| -%>
    <%- instructor, courses, rating = result[:instructor], result[:courses], result[:rating] -%>
  <tr>
    <td>
      <%= link_to instructor.full_name_r, surveys_instructor_path(instructor) %>
    </td>
    <td>
      <%- courses.each do |course| -%>
        <%= link_to course.course_abbr, surveys_course_path(course) -%><%= ", " unless course == courses.last %>
      <%- end -%>
    </td>
    <td>
      <%- unless rating.present? -%>
      [private]
      <%- else -%>
      <%= rating_and_bar instructor.average_rating, @eff_q.max.to_f %>
      <%- if false -%>
      <%= sprintf "%.1f", rating %> / <%= @eff_q.max.to_f %> 
      <%= rating_bar(rating/@eff_q.max) %>
      <%- end # if false -%>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
</table>
