<!-- Header -->
<div id="instructor_box" class="trans-bg">
  <h1><%= @instructor.full_name %></h1>

  <div style="float:left; margin-right: 1em;">
    <% if @instructor.picture && File.file?(File.join('public', @instructor.picture)) && !@instructor.picture.blank? %>
      <%= image_tag @instructor.picture, :class=>"instructor-photo" unless @instructor.picture.blank? %>
    <% elsif @instructor.instructor? # guess the picture, but only if instructor.. %>
      <%= image_tag "http://www.eecs.berkeley.edu/Faculty/Photos/Homepages/#{@instructor.last_name.downcase}.jpg", :class => 'instructor-photo' %>
    <% else %>
      <%# no picture %>
    <% end %>
  </div>
  <div style="float:left;">
  <% if @can_edit %>
  <%= link_to '[Edit]', coursesurveys_edit_instructor_path(@instructor) %>
  <% end %>

    <table id="instructor_info" class="infobox">
      <tr> <th>Title</th>             <td><%= @instructor.title %></td> </tr>
      <%- unless @instructor.office.blank? -%>      <tr> <th>Office</th>            <td><%= @instructor.office %></td> </tr><%- end -%>
      <%- unless @instructor.phone_number.blank? -%><tr> <th>Phone Number</th>      <td><%= @instructor.phone_number %></td> </tr><%- end -%>
      <%- unless @instructor.email.blank? -%>       <tr> <th>Email</th>             <td><%= @instructor.email %></td> </tr><%- end -%>
      <%- unless @instructor.home_page.blank? -%>   <tr> <th>Home Page</th>         <td><%= link_to @instructor.home_page, @instructor.home_page %></td> </tr><%- end -%>
      <%- unless @instructor.interests.blank? -%>   <tr> <th>Research Interests</th><td><%= @instructor.interests %></td> </tr><%- end -%>
    </table>
  </div>

  <div class="clear"></div>
</div>

<%- cache instructor_cache_path(@instructor) do -%>

<%- unless @results[:klasses].blank? -%>
<%# content_for :header do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    
    google.setOnLoadCallback(drawChart);
    
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Semester');
      data.addColumn('number', 'Teaching Effectiveness');
      data.addColumn('number', 'Worthwhile Course?');
      data.addRows($(".semester").length);
      
      count = 0;
      $("#ratings tbody tr").each(function(){
        dat = $($(this)).children("td")
        year = $(dat[0]).find(".semester a").html();
        eff = parseFloat($(dat[1]).find(".rating").html(), 10);
        worth = parseFloat($(dat[2]).find(".rating").html(), 10);
        
        console.log(year + ": " + eff + " " + worth);
        
        if(year != null){
          data.setValue(count, 0, year);
          data.setValue(count, 1, eff);
          data.setValue(count, 2, worth);
          count++;
        }
        
      }); 

      var chart = new google.visualization.ColumnChart($("#chart_div")[0]);
      chart.draw(data, 
        {width: $(window).width() * 0.9, height: 400, title: 'Course Survey', colors:['#235185','#f9df49'], hAxis: {title: 'Year', titleTextStyle: {color: 'gray'}}, isStacked: true, backgroundColor: 'none'}
      );
    }
  </script>
<%# end %>
<% end %>


<div id="chart_div"></div> 


<%# Instructed and tad klasses %>
<%- [ [:klasses,     "Taught"],
      [:tad_klasses, "TA'd"  ]
    ].each do |klasstype, label|

    #next if @results[klasstype].empty?
-%>
<%- if @instructor.private -%>
    <p>This instructor's ratings are <%= link_to "hidden", coursesurveys_ferpa_path %>. If you are <%= @instructor.full_name %> and would like to allow HKN to display your teaching evaluation ratings on the web, please <%= link_to "opt-in", coursesurveys_ferpa_path %>.</p>
<%- end -%>

<!-- Classes <%= label %> -->
<div id="table">
  <h3 class="center">Classes <%= label %></h3>
  <table id="ratings" class="table"><tbody>
    <tr>
      <th>Sections</th>
      <th>Teaching Effectiveness</th>
      <th>How worthwhile was this course?</th>
      <th>Other Instructors</th>
    </tr>

<%-   @results[klasstype].each do |klass, eff_a, ww_a, others|
      next unless eff_a && ww_a
-%>

  <!-- <%= klass.to_s %> -->
  <tr>
      <td><span class="semester"><%= link_to klass.to_s, surveys_klass_path(klass) %></span></td>
<%-   [eff_a, ww_a].each do |a| -%>
      <td><%= rating_and_bar a.mean, a.survey_question.max, surveys_rating_path(a) %></td>
<%-   end -%>
      <td><span class="others"><%= raw (
          (klass.instructors - [@instructor]).collect { |instructor|
              link_to(instructor.full_name, surveys_instructor_path(instructor))
          } .join(", ") ) %></span></td>
    </tr>
    <%- end # results -%>

<!-- Aggregate stats -->
<%# Warning: unreadable mass of code %>
  <tr>
    <th>Totals</th>
    <th>Teaching Effectiveness</th>
    <th>How worthwhile was this course?</th>
    <th></th>
  </tr>
  <%- [ :undergrad, :grad ].each do |classification|
      courses = @totals[classification]
      courses.keys.sort_by(&:to_s).sort_by(&:course_number).each do |course|
          stats = courses[course]
  -%>
  <!-- <%= course.to_s %> -->
  <tr>
    <td><%= link_to course.to_s, surveys_course_path(course) %> (<%= stats[:eff].count %>)</td>
    <%- [:eff, :ww].each do |s| -%>
    <td><%= rating_and_bar(stats[s].avg, stats["#{s}_max".to_sym]) if stats[s].any? %></td>
    <%- end -%>
    <td></td>
  </tr>
  <%- end # courses   -%>
  <!-- <%= classification %> -->
  <tr>
    <td><strong><%= "#{classification}uate".capitalize %> Courses (<%= courses.values.collect{|v|v[:eff].count}.sum %>)</strong></td>
    <%- [:eff,:ww].each do |s|
          numz = courses.values.collect{|v|v[s]}.flatten
    -%>
    <td><%= rating_and_bar numz.avg, courses.values.first["#{s}_max".to_sym] unless courses.empty? || !numz.any? %></td>
    <%- end -%>
    <td></td>
  </tr>
  <%- end # classification -%>

  </tbody></table>
</div>
<%- end # klasstype -%>

<%- end #cache -%>

