<% if @instructor %>
  <h1>
    <%= link_to @course.course_name + (@klass.has_other_sections? ? "-#{@klass.section}" : ""), surveys_course_path(@course) %>
    -
    <%= link_to @klass.proper_semester, surveys_klass_path(@klass) %>
    -
    <%= @instructor.full_name %>
  </h1>
<% else %>
<h1><%= link_to @course.course_name + (@klass.has_other_sections? ? "-#{@klass.section}" : ""), surveys_course_path(@course) %> - <%= @klass.proper_semester %></h1>
<% end %>

<div id="instructorbox" class="infobox trans-bg">
  <% if @instructor.nil? %>
    <%- [ ['Instructor', @instructors], ['TA', @tas] ].each do |label, group| -%>
    <h3><%= label.pluralize_for group.size %></h3>
    <ul>
      <% group.each do |result| %>
        <li><%= link_to result[:instructor].full_name, surveys_instructor_path(result[:instructor]) %></li>
      <% end %>
    </ul>
    <%- end -%>
  <% else %>
    <p>
    See all of <%= link_to @instructor.full_name, surveys_instructor_path(@instructor) %>'s data.
    </p>

    <p>
    <%= @instructorship.comment %>
    </p>
  <% end %>

  <%= render partial: 'emailhkn' %>
</div>


<div id="klass-table">
  <table id="ratings" class="table">
    <%- [ [@instructors, 'Instructor'], [@tas, 'TA'] ].each do |results, title|
          results.each do |result|
          instructor, answers = result[:instructor], result[:answers]
          private = instructor.private || answers.blank?
    -%>
    <%# Instructor name %>
    <tr>
      <th<%=raw " colspan=\"2\"" if (private && !@privileged) %>>
        <%= title %> <%= link_to instructor.full_name, surveys_klass_path(@klass, instructor: instructor.full_name_r_strip) %>
      </th>
      <%- unless (private && !@privileged) -%>
        <th><%= answers.first.frequencies != "{}" ? ActiveSupport::JSON.decode(answers.first.frequencies).values.sum : answers.first.num_responses %> respondents</th>
      <%- end -%>
    </tr>

    <%# Survey answers %>
    <%- if answers.blank? -%>
      <tr>
        <td colspan="2">This instructor's ratings are <%= link_to 'hidden', coursesurveys_ferpa_path %>.</td>
      </tr>
    <%- else -%>
      <%- answers.each do |answer| -%>
        <tr>
          <%- t = [answer.survey_question.text]
              t.unshift("<strong>").push("</strong>") if answer.survey_question.important -%>
          <td><%=raw t.join %></td>
          <td><%= answer.mean == 0 ? 'N/A' : (rating_and_bar answer.mean, answer.survey_question.max, surveys_rating_path(answer), answer.survey_question.inverted) %></td>
        </tr>
      <%- end end # answers -%>
    <%- end end # instructors+tas -%>
  </table>
</div>
