<h1><%= link_to @course.course_name, surveys_course_path(@course) %> - <%= link_to @klass.proper_semester, surveys_klass_path(@klass) %> - <%= link_to @instructor.full_name, surveys_instructor_path(@instructor) %></h1>

<h2><%= @answer.survey_question.text %></h2>

<div id="rating-info" class="infobox">
  <div class="info-row">
    <span class="info-label">Number of Respondents</span>   
    <div class="info-item"><%= @total_responses %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Mean</span>                    
    <div class="info-item"><%= sprintf "%.1f", @answer.mean %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Standard Deviation</span>      
    <div class="info-item"><%= sprintf "%.1f", @answer.deviation %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Median</span>                  
    <div class="info-item"><%= sprintf "%.1f", @answer.median %></div>
  </div>
  <div class="info-row">
    <span class="info-label">95% Confidence Interval</span> 
    <div class="info-item">I need to read up on stats again...</div>
  </div>
  <div class="info-row">
    <span class="info-label">Frequency Distribution</span>
    <div class="info-item">
      <table>
        <%- @frequencies.keys.sort.each do |key| -%>
          <tr>
            <th><%= key %></th>
            <td><%= frequency_bar(@frequencies[key].to_f/@mode) %> <%= @frequencies[key] %> (<%= sprintf "%.1f", 100.0*@frequencies[key]/@total_responses %>%)</td>
          </tr>
        <%- end -%>
      </table>
    </div>
  </div>
</div>

<table id="ratings">
<%- @results.each do |instructor, answers| -%>
  <%- if answers.nil? -%>
  <tr>
    <th colspan="2">
      <%= @klass.instructor_type(instructor) %> <%= link_to instructor.full_name, surveys_instructor_path(instructor) %>
    </th>
  </tr>
  <tr><td colspan="2">This instructor's ratings are <%= link_to "hidden", coursesurveys_ferpa_path %>.</td></tr>
  <%- else -%>
  <tr>
    <th>
      <%= @klass.instructor_type(instructor) %> <%= link_to instructor.full_name, surveys_instructor_path(instructor) %>
    </th>
    <th><%= ActiveSupport::JSON.decode(answers.first.frequencies).values.reduce{|x,y| x.to_i+y.to_i} %> respondents</th>
  </tr>
    <%- answers.each do |answer| -%>
  <tr>
    <td>
      <%- if answer.survey_question.important -%><strong><%- end -%>
      <%= answer.survey_question.text %>
      <%- if answer.survey_question.important -%></strong><%- end -%>
    </td>
    <td>
      <%= sprintf "%.1f", answer.mean %> / <%= answer.survey_question.max.to_f %>
      <%= rating_bar(answer.mean/answer.survey_question.max.to_f, nil, answer.survey_question.inverted) %>
    </td>
  </tr>
    <%- end -%>
  <%- end -%>
<%- end -%>
</table>

<a href="mailto:www-coursesurvey@hkn.eecs.berkeley.edu?subject=Comment on HKN Course Survey page http://hkn.eecs.berkeley.edu/student/CourseSurvey/courses/EE/40/">[Email HKN about this data]</a>
