
<h1><%= link_to @course.course_name, surveys_course_path(@course) %> - <%= link_to @klass.proper_semester, surveys_klass_path(@klass) %> - <%= link_to @instructor.full_name, surveys_instructor_path(@instructor) %></h1>

<%- if @instructor.private %>
<%= @instructor.full_name %>'s results are private. You're seeing these survey results because you are currently logged in with privileged access. These results are not publicly available.
<% end %>

<h2><%= @answer.survey_question.text %></h2>
<span class="edit">
<%- if @can_edit -%>
  <%= link_to '[Edit]', coursesurveys_edit_rating_path(@answer) %>
<%- end -%>
</span>

<%# cache do %>
<%- if true -%>

<div id="rating-info" class="infobox">
  <div class="info-row">
    <span class="info-label">Number of Respondents</span>   
    <div class="info-item"><%= @total_responses %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Mean</span>                    
    <div class="info-item"><%= sprintf "%.1f", @answer.mean %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Standard Deviation</span>      
    <div class="info-item"><%= sprintf "%.1f", @answer.deviation %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Median</span>                  
    <div class="info-item"><%= sprintf "%.1f", @answer.median %></div>
  </div>
  <div class="info-row">
    <span class="info-label">95% Confidence Interval</span> 
    <div class="info-item"><%= sprintf "%.1f", @answer.mean %> &plusmn; <%= sprintf "%.1f", @conf_intrvl %></div>
  </div>
  <div class="info-row">
    <span class="info-label">Max</span> 
    <div class="info-item"><%= @answer.survey_question.max.to_f %></div>
  </div>
   <div class="info-row">
    <span class="info-label">Frequency Distribution</span>
    <div class="info-item">
      <table class="histogram">
        <%- @frequencies.keys.sort{|a,b| a.to_s<=>b.to_s}.each do |key|
            next if key.to_s.is_int? && key.to_i > @answer.survey_question.max
        -%>
          <tr>
            <th><%= key %></th>
            <td><%= frequency_bar(@frequencies[key].to_f/@mode) %> <%= @frequencies[key] %> (<%= @total_responses > 0 ? sprintf("%.1f", 100.0*@frequencies[key]/@total_responses) : 0 %>%)</td>
          </tr>
        <%- end -%>
      </table>
    </div>
  </div>
</div>

<table id="ratings" class="table">
<%- @results.each do |instructor, answers| -%>
  <%- if answers.nil? -%>
  <tr>
    <th colspan="2">
      <%= @klass.instructor_type(instructor) %> <%= link_to instructor.full_name, surveys_instructor_path(instructor) %>
    </th>
  </tr>
  <tr><td colspan="2">This instructor's ratings are <%= link_to "hidden", coursesurveys_ferpa_path %>.</td></tr>
  <%- else -%>
  <tr>
    <th>
      <%= @klass.instructor_type(instructor) %> <%= link_to instructor.full_name, surveys_instructor_path(instructor) %>
    </th>
    <th><%= ActiveSupport::JSON.decode(answers.first.frequencies).values.reduce{|x,y| x.to_i+y.to_i} %> respondents</th>
  </tr>
    <%- answers.each do |answer| -%>
  <tr>
    <td>
      <%- if answer.survey_question.important -%><strong><%- end -%>
      <%= answer.survey_question.text %>
      <%- if answer.survey_question.important -%></strong><%- end -%>
    </td>
    <td>
      <%= sprintf "%.1f", answer.mean %> / <%= answer.survey_question.max.to_f %>
      <%= rating_bar(answer.mean/answer.survey_question.max.to_f, nil, answer.survey_question.inverted) %>
    </td>
  </tr>
    <%- end -%>
  <%- end -%>
<%- end -%>
</table>

<%= render :partial => 'emailhkn' %>

<% end %>
