<h1><%= s = []
        s << (params[:q].blank? ? 'All' : 'Search')
        s << @dept.name.titleize if @dept
        s << 'results'
        s << "for '#{params[:q]}'" unless params[:q].blank?
        s.join(' ')
     %></h1>


<%- unless @results[:courses].results.empty? -%>
<table id="ratings" class="table courses">
  <tr>
    <th>Course</th>
    <th>Name</th>
    <th>Latest Class</th>
  </tr>
  <% @results[:courses].results.each do |c| %>
    <% next if c.klasses.empty? # some classes don't have any data... %>
    <tr>
      <td><%= link_to c.course_abbr, surveys_course_path(c) %></td>
      <td><%= c.name %></td>
      <td><%= link_to c.klasses.first.proper_semester, surveys_klass_path(c.klasses.first) %></td>
    </tr>
  <% end %>
</table>
<%- end # courses -%>




<%- unless @results[:instructors].results.empty? -%>
<table id="ratings" class="table instructors">
  <tr>
    <th>Instructor</th>
    <th>Recent Courses</th>
    <th>Rating</th>
  </tr>
  <% @results[:instructors].results.each do |i| %>
    <% next if i.courses.empty? # some classes don't have any data... %>
    <tr>
      <td><%= link_to i.full_name_r, surveys_instructor_path(i) %></td>
      <td><%= raw i.courses[0..3].collect {|c| link_to c.course_abbr, surveys_course_path(c)}.join(', ') %></td>
      <td><%- if i.private -%>
        [private]
        <%- else rating = i.average_rating -%>
        <%= sprintf "%.1f", rating %> / <%= @prof_eff_q.max.to_f %> 
        <%= rating_bar(rating/@prof_eff_q.max) %>
        <%- end -%></td>
    </tr>
  <% end %>
</table>
<%- end # courses -%>





<% if false %>
<table id="ratings" class="table">
  <tr><th>Instructor</th><th>Recent Courses</th><th>Rating</th></tr>


  <%- @results.results.each do |c| -%>
  <tr>
    <td><%= c.course_abbr %></td>
    <td></td>
    <td></td>
  </tr>
  <%- end -%>

  <%- @results.each do |tuple| -%>
    <%- (instructor, courses, rating) = tuple -%>
  <tr>
    <td>
      <%= link_to instructor.full_name_r, surveys_instructor_path(instructor) %>
    </td>
    <td>
      <%- courses[0..3].each do |course_id| -%>
        <%- course = Course.find(course_id) -%>
        <%= link_to course.course_abbr, surveys_course_path(course) -%><%= ", " unless course == courses.last %>
      <%- end -%>
    </td>
    <td>
      <%- if rating == "private" -%>
      [private]
      <%- else -%>
      <%= sprintf "%.1f", rating %> / <%= @eff_q.max.to_f %> 
      <%= rating_bar(rating/@eff_q.max) %>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
<% end %>
</table>
