<div class="white-bg" id="contain">
  <h1 class="big">BearHacks</h1>
  <img src='<%= asset_path('service/bearhacks_small.jpg') %>' alt='eecsday'>
  <h2>
    Description:
  </h2>
  <p>
    High school students got a glimpse into the curriculum and facilities that Berkeley EECS students encounter every day.
  </p>
  <p>
    They were able to interact with Josh Hug, a UC Berkeley EECS professor through a talk and a Q&amp;A session.
  </p>
  <p>
    Groups of students were rotated between 3 activities which include: a department tour, a computer science lab, and an electrical engineering lab.
  </p>
  <p>
    The day concluded with a student panel, allowing attendees to really get a first hand perspective of Berkeley EECS.
  </p>

  <h2>
    Schedule:
  </h2>
  <p>
    10:00 a.m. - 10:30- a.m. Check In
  </p>
  <p>
    10:30 a.m. - 11:00 a.m. Speaker
  </p>
  <img src='<%= asset_path('service/denero.jpg') %>' alt='denero'>
  <h5>
    Opening Speaker was John Denero, a professor in UC Berkeley's Computer Science Department.
  </h5>
  <p>
    12:30 p.m. - Lunch
  </p>
  <img src='<%= asset_path('service/lunch-bearhacks.jpg') %>' alt='eecsday'>
  <p>
    11:00 a.m. - 3:30 p.m. Hack! (Mentoring photos)
  </p>
  <img src='<%= asset_path('service/student.jpg') %>' alt='eecsday'>
  <img src='<%= asset_path('service/stud2.jpg') %>' alt='eecsday'>
  <img src='<%= asset_path('service/stud3.jpg') %>' alt='eecsday'>
  <img src='<%= asset_path('service/help1.jpg') %>' alt='eecsday'>
  <img src='<%= asset_path('service/mentor1.jpg') %>' alt='eecsday'>
  <h5>
    High schoolers get help from HKN members on their various project. With the help of HKN members, students are able to do projects that are outside of the scope of what they would usually feel that they are capable of.
  </h5>
  <p>
    3:00 p.m. - 3:30 p.m. Judging
  </p>
  <p>
    3:30 p.m. - 3:50 p.m. Walk Around
  </p>
  <img src='<%= asset_path('service/stud4.jpg') %>' alt='eecsday'>
  <img src='<%= asset_path('service/walkaround.jpg') %>' alt='eecsday'>
  <h5>
    High School students demo their projects to others and they get the opportunity to see what others have been working on.
  </h5>
  <p>
    3:50 p.m. - 4:00 p.m. Prizes and Closing Speech
  </p>
  <p>
    3:30 p.m. - 4:00 p.m. Closing Panel
  </p>
</div>
