<h1>HKN Officers, <%= @season %> <%= @year %></h1>

<%= link_to "Previous Semester", about_officers_path(@prev_semester) unless @prev_semester.blank? %>
<%= link_to "Next Semester", about_officers_path(@next_semester) unless @next_semester.blank? %>

<% if @no_data %>
  <p>No data available for this semester. If you know information about the officers for this semester and would like us to add it, please email hkn@hkn.</p>
<% else %>

<div id="execs">
<% for position in @execs %>
  <%= render :partial => "officers_committee", :locals => { :style_class => "position", :position => position } %>
<% end %>
</div>

<div id="committees">
<% for committee in @committees %>
  <%= render :partial => "officers_committee", :locals => { :style_class => "committee", :position => committee } %>
<% end %>
</div>

<%# Alumni Advisor should go here. %>

<br/>
<div class="hbar"></div>
To send an email, fill out the full domain name (hkn=>hkn.eecs.berkeley.edu)
</div>

<% end %>
