<% content_for :header do %>
  <style type="text/css">
      .group {
          margin-bottom: 5em;
          float: left;
          display: block;
          margin-right: 5em;
          padding: 20px 20px 20px 20px;
          border: 1px solid black;
      }
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '<%= admin_rsec_find_members_path %>',
        success: function(data) {
          $(".find_user").autocomplete({
            minLength: 1,
            source: data,
            select: function(event, ui) {
              $(this).val(ui.item.label);
              $(this).parent().find(".user-id").val(ui.item.value);
              return false;
            }
          });
        }
      });
    });
  </script>
<% end %>

<h1>Add New Officers</h1>

<% for group in @groups %>
    <a name="<%= group[:name] %>"></a>
    <div class="group" id="group-<%=group[:name]%>">
      <h2><%= group[:name].titleize %></h2>
      <% for position in group[:positions] %>
          <div class="elected-person">
            <% if position.person != nil %>
              <%= link_to position.person.full_name, admin_election_edit_details_path(position.person.username) %>
              <%= link_to '[X]', admin_rsec_unelect_path(position.id), onClick: "return confirm('Really un-elect #{position.person.full_name} from #{group[:name]}?');" %>
            <% else %>
              There is an error here...
            <% end %>
            <%= link_to '[Elect]', admin_rsec_elect_path(position.id) unless position.elected %>
          </div>
      <%- end -%>
      <div class="add-new" id="new-<%=group[:name]%>">
          <%= form_for :election, url: admin_rsec_add_elected_path do |f| %>
              <p>
              <%= label_tag :name, "Add #{group[:name]} candidate:" %>
              <%= text_field_tag :name, nil, class: 'find_user' %>
              <%= hidden_field_tag :person_id, nil, class: 'user-id' %>
              <%= hidden_field_tag :position, group[:name] %>
              </p>
              <%= f.submit 'Nominate!', name: nil %>
          <%- end -%>
      </div>
    </div><%# div .group %>
<% end %>
