<h1>Sign up for a Department tour!</h1>
<p>
  HKN provides tours of the Berkeley EECS department.
  Sign up here, and your request will be sent to the HKN officer corps.
</p>
<%= form_tag("", :method => :post) do%>
  <div class="field">
    <%= label_tag :name, "Name:" %>
    <%= text_field_tag :name %>
  </div>
  
  <div class="field">
    <%= label_tag :date, "Date & Time:" %>
    <%= select_datetime Time.now, :prefix => :date %>
  </div>
  
  <div class="field">
    <%= label_tag :email, "Contact email address:" %>
    <%= text_field_tag :email %>
  </div>
  
  <div class="field">
    <%= label_tag :phone, "Contact phone number (optional):" %>
    <%= text_field_tag :phone %>
  </div>
  
  <div class="field">
    <%= label_tag :comments, "Additional comments:" %>
    <%= text_area_tag :comments %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>