<h1>Sign up for a Department tour!</h1>
<% if @closed %>
  <%= render partial: 'closed' %>
<% end %>
<p>
  HKN provides tours of the Berkeley EECS department.
  Sign up here, and your request will be sent to the HKN officer corps.
</p>
<p>
  If you have any special requests, list them in the additional comments section.
  Tours are offered during our open hours (MTWRF, 11am-5pm).
  Please allow three days for confirmation.
</p>

  <% if @errors && @errors.any? %>
    <div id="errorExplanation">
      <h2>There are <%= pluralize(@errors.count, "error") %> with the information entered:</h2>
      <ul>
      <% @errors.each_pair do |field, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%- end -%>

<%= form_tag(dept_tour_signup_path, method: :post) do%>
  <div class="field">
    <%= label_tag :name, "Name", class: 'required-field' %>
    <%= text_field_tag :name, params[:name] %>
  </div>

  <div class="field">
    <%= label_tag :date, "Desired date & time", class: 'required-field' %>
    <%= text_field_tag :date, params[:date], class: "datetimepicker depttourpicker" %>
  </div>

  <div class="field">
    <%= label_tag :email, "Contact email address", class: 'required-field' %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="field">
    <%= label_tag :email_confirmation, "Re-type email", class: 'required-field' %>
    <%= text_field_tag :email_confirmation, params[:email_confirmation] %>
  </div>

  <div class="field">
    <%= label_tag :phone, "Contact phone number", class: 'required-field' %>
    <%= text_field_tag :phone, params[:phone] %>
  </div>

  <div class="field">
    <%= label_tag :comments, "Additional comments:" %>
    <%= text_area_tag :comments, params[:comments] %>
  </div>

  <div class="field">
    <br />
    <%= captcha %>
  </div>

  <div class="field-submit">
    <%= submit_tag "Submit" %>
  </div>

  <div>
    <p><span class="required-field"></span> denotes a required field</p>
  </div>
<% end %>
