<div>
    <div id="columns-wrapper" display="">
        <div id="col1">
            <h1>Why HKN?</h1>
            <p>Eta Kappa Nu (HKN) is the national EECS honor society. The Mu Chapter of HKN is one of the most active student groups on the <a href="http://www.berkeley.edu">UC Berkeley</a> campus, offering a variety of services to the Berkeley EECS community.</p>

            <h2>Active Organization</h2>
            <p>Membership is extended to the undergraduates in the top fourth of the junior class and the top third of the senior class in EECS, who demonstrate a commitment to serving their fellow EECS students. HKN embodies not only the prestige of academic achievement, but also the spirit of leadership and service.</p>

            <h2>Department and Student Relationship</h2>
            <p>HKN is an essential link between the EECS students, the EECS faculty, and the industry. The Berkeley <a href="https://eecs.berkeley.edu">EECS Department</a> has recognized HKN as an important channel of communications between the EECS students and the department.</p>

            <h2>Student and Corporate Service</h2>
            <p>HKN also hosts company <%= link_to "infosessions", infosessions_path %> and annual EECS <%= link_to "career fairs", career_fair_path %>, securing a key role in many students' search for internships and other employment opportunities. HKN Mu Chapter has gained much respect from its peers as a source of academic mentorship and information.</p>
        </div>

        <div id="col2">
            <h2>Extreme dedication</h2>
            <p>With an extremely dedicated group of <%= @officers_count %> <%= link_to 'officers', people_list_path('officers') %> and a membership of over 300 undergraduate students, the <%= link_to "HKN Mu Chapter", :root %> specializes in executing planned activities smoothly and successfully, and has won repeated recognition as one of the most active chapters around the nation.</p>

            <h2>Tried and Trusted</h2>
            <p>Eta Kappa Nu has extensive experience working with industry. We have successfully helped many companies publicize and meet students at corporate infosessions and career fairs we coordinate. Additionally, our <%= link_to "resume book", resume_books_about_path %> has helped companies get in touch with some of the best and brightest <a href="https://ee.berkeley.edu/">EE</a> and <a href="https://cs.berkeley.edu/">CS</a> students in the country.</p>

            <h2>Serving the EECS Community</h2>
            <p>HKN is committed to serving the EECS community building on more than 10 years of experience. We look forward to working with you in the future.</p>

            <p>Sincerely,</p>
            <ul class="plain">
            <% Committeeship.current.committee("indrel").officers.map{|x|x.person}.each do |person| %>
                <li><%= mail_to "#{person.username}@hkn.eecs.berkeley.edu", person.fullname, encode: :hex %></li>
            <% end %>
            </ul>
        </div>
    </div>

    <div style="clear:both"></div>

    <div class="company-sponsors">
        <h1>Current sponsors</h1>
        <p>We thank all of our sponsors for their support of HKN and the broader EECS community. Click on the logos display below to visit that sponsors' website!</p>

        <div class="company-sponsors-logos">
            <a href="https://www.citadel.com/">
                <%= image_tag("site/indrel_sponsors_citadel_logo.png", alt: "Citadel", class: "company-sponsors-logo") %>
            </a>
        </div>
    </div>

</div>
