<h1>Infosession Registration Form</h1>
<h2>University of California, Berkeley</h2>

<% unless @errors.blank? or @errors.empty? %>
  <p>Could not submit form due to the following errors:
  <ul class="plain">
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  </p>
<% end %>

<%= form_tag do %> 
  <h3>Company</h3>
  <div class="field">
    <%= label_tag "company_name", "Company Name*" %>
    <%= text_field_tag "company_name", @fields['company_name'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "address1", "Address 1*" %>
    <%= text_field_tag "address1", @fields['address1'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "address2", "Address 2" %>
    <%= text_field_tag "address2", @fields['address2'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "city", "City*" %>
    <%= text_field_tag "city", @fields['city'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "state", "State*" %>
    <%= text_field_tag "state", @fields['state'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "zip_code", "Zip Code*" %>
    <%= text_field_tag "zip_code", @fields['zip_code'], :class => 'long' %>
  </div>
  <h3>Contact Person</h3>
  <div class="field">
    <%= label_tag "name", "Name*" %>
    <%= text_field_tag "name", @fields['name'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "title" %>
    <%= text_field_tag "title", @fields['title'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "phone", "Phone*" %>
    <%= text_field_tag "phone", @fields['phone'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "email", "Email*" %>
    <%= text_field_tag "email", @fields['email'], :class => 'long' %>
  </div>
  <h3>Alternate Contact Person</h3>
  <div class="field">
    <%= label_tag "alt_name", "Name" %>
    <%= text_field_tag "alt_name", @fields['alt_name'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "alt_title" %>
    <%= text_field_tag "alt_title", @fields['alt_title'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "alt_phone", "Phone" %>
    <%= text_field_tag "alt_phone", @fields['alt_phone'], :class => 'long' %>
  </div>
  <div class="field">
    <%= label_tag "alt_email", "Email" %>
    <%= text_field_tag "alt_email", @fields['alt_email'], :class => 'long' %>
  </div>

  <p><span class="small">(* denotes required field)</span></p>

  <div class="field">
    <p>Please list your preferred week and we will contact you to let you know what dates are available. We recommend restricting dates to Tuesdays, Wednesdays, and Thursdays for optimal turnout.</p>
    <%= text_area_tag 'pref_date', @fields['pref_date'] %>
  </div>
  <div class="field">
    <p>Please let us know what type of food, if any, you would prefer to have offered and your budget. We will handle the ordering and delivery.</p>
    <%= text_area_tag 'pref_food', @fields['pref_food'] %>
  </div>
  <div class="field">
    <p>Please let us know of any specific information to advertise, such as if you will be offering any prizes or raffles. We will include the information on e-mails, flyers, and advertisements.</p>
    <%= text_area_tag 'pref_ad', @fields['pref_ad'] %>
  </div>
  <div class="field">
    <p>Any comments, special accomodations, or specific requests</p>
    <%= text_area_tag 'comments', @fields['comments'] %>
  </div>

  <br />
  <div class="field">
    <%= captcha %>
  </div>

  <p>With our infosession package, you will receive:</p>
  <ul>
    <li>On-campus location</li>
    <li>Week-long publicity</li>
    <li>Flexible scheduling</li>
    <li>Setup and food arrangements</li>
  </ul>
  <p>We ask for a tax-deductible $600 donation plus food expenses.</p>

  <%= submit_tag 'Submit' %>
<% end %>
