<div id="columns-wrapper">
  <div id="col1">
    <h1>Resume Books</h1>
    <h2>What is the HKN Resume Book?</h2>
    <p>The Berkeley HKN Resume Book contains the resumes of our membership, which is pooled from the top 25% of the junior class and the top 33% of the senior class. Resumes are continually updated and categorized by graduation date and engineering focus to help you find the perfect match for any employment opportunity.</p>

    <h2>How current is the Resume Book?</h2>
    <p>It is updated every semester.</p>

    <h2>In what form will I receive the Resume Book?</h2>
    <p>HKN provides a downloadable Resume Book (as a pdf), or we can also mail a version on a CD.</p>

    <h2>How much does the Resume Book cost?</h2>
    <p>HKN asks for a $250 donation for the Resume Book. Your donations help us to continue improving the services we offer which include <%= link_to 'tutoring', tutor_path %>, <%= link_to 'exam archives', exams_path %>, <%= link_to 'course surveys', coursesurveys_path %> and contact with industry to connect the students of the Berkeley EECS community.</p>
  </div>

  <div id="col2">
    <h2>What kinds of students would I be able to find in the Resume Book?</h2>

    <table>
      <tr><th>Total:</th><td><%= @sum %> Students</td></tr>
      <% @year_counts.each do |year, count| %>
        <tr><th>Graduating <%= year %></th><td><%= count %></td></tr>
      <% end %>
      <% if @grad_counts > 0 %>
        <tr><th>Graduates</th><td><%= @grad_counts %></td></tr>
      <% end %>
    </table>

    <h2>How do I order it?</h2>
    <p>Please go to the <%= link_to 'order form', resume_books_order_path %>. If you have any questions, please feel free to <%= link_to 'contact us', indrel_contact_us_path %>. </p>
  </div>
</div>
