<%= render 'banner' %>

<div class='store-content-area'>
	<div class='store-product-listings'>
		<% @products.each do |product| %>
		<div class='product-box'>

			<a href=<%=show_path(product)%>><%= image_tag product.image, class:'product-image' %></a>
			
			<div class='product-info-box'>
				<%= link_to product.name, show_path(product), class:'product-name' %>
				<span class='product-price'>$<%= product.price %></span></br>
				<span class='product-description'><%= product.description %></span>
				<%= link_to 'Delete', delete_path(product), method: :destroy, confirm: 'Are you sure you want to delete this product?' %> | 
				<%= link_to 'Edit', edit_path(product) %>
			</div>
		</div>
		<% end %>

	</div>

	<%= render 'sidebar' %>

</div>