<h1>Indrel Database</h1>
<ul>
  <li><%= link_to "Events", indrel_events_path %></li>
  <li><%= link_to "Locations", locations_path %></li>
  <li><%= link_to "Companies", companies_path %></li>
  <li><%= link_to "Contacts", contacts_path %></li>
  <li><%= link_to "Event Types", indrel_event_types_path %></li>
  <li><%= link_to "Résumé Books", resume_books_path %></li>
</ul>
