<%= stylesheet_link_tag "tutor.css" %>
<h1>Edit Tutoring Schedule</h1>
<%= form_tag(admin_tutor_update_schedule_path, method: :put) do %>
  <%= check_box_tag :only_available, true, @only_available %>
  <%= label_tag :only_available, "Restrict to officers who are available at each time." %>
  <p>'P' = strongly prefer this office, 'p' = okay with this office, absence of such = do not prefer this office</p>
  <p>'A' = prefer adjacent slots, 'a' = do not prefer adjacent slots, absence of such = no preference of adjacency</p>
  <p> Only tutoring officers have sufficient privileges to change the schedule.</p>
  <div class="overflow">
  <table id="edit_schedule">
    <tr>
      <th>Hours</th>
      <% @days.each do |day| %>
      <th class="slot-table-header"><%= day %></th>
      <% end %>
    </tr>
    <% @hours.each do |hour| %>
      <% [:cory, :soda, :online, :prodevsoda].each do |room_name| %>
        <% room = Slot::ROOMS[room_name] %>
        <tr>
          <% if room_name == :cory %>
            <td rowspan="4"><%= format_hour_slot hour %></td>
          <% end %>
          <% @wdays.each do |wday| %>
          <td  class="slot <%= room_name.to_s %>">
            <p><%= room_name.to_s.capitalize%></p>
            <%= select_tag("assignments[#{room}][#{wday}][#{hour}]",
                  grouped_options_for_select(
                    @slot_options[room][wday][hour][:opts],
                    @slot_options[room][wday][hour][:defaults]),
                  multiple: true) %>
          </td>
          <% end%>
        </tr>
      <% end %>
    <% end %>
  </table>
  </div>
  <%= submit_tag "Save changes" %>
  <%= submit_tag "Reset all", confirm: 'Are you sure you want to reset the tutoring schedule?' %>
<% end %><br/>

<p>Each of the following categories are simple counts, except for (Non)Adjacencies and Correct Office.</p>
<p>1 is added to the former if a tutor's slots match the adjacency preference, or if the tutor has no preference.</p>
<p>For the latter, a 'P' on a slot adds 2, while a 'p' adds 1.</p>
<p>Finally, Happiness is a linear combination of each factor, with the following weights:</p>
<p>Availabilities = 0</p>
<p>First Choices = 6</p>
<p>Second Choices = 0</p>
<p>Wrong Times = -10000</p>
<p>(Non)Adjacencies = 1 (officers only)</p>
<p>Correct Office = 2</p>

<% [:officer, :cmember].each do |type| %>
<div class="overflow">
<table>
  <tr>
    <% if type == :officer %>
      <th>Officers</th>
    <% else %>
      <th>Committee Members</th>
    <% end %>
    <th>Availabilities</th>
    <th>First Choices</th>
    <th>Second Choices</th>
    <th>Wrong Times</th>
    <% if type == :officer %>
      <th>(Non)Adjacencies</th>
    <% end %>
    <th>Correct Office</th>
    <th>Total Happiness = <%= @happiness[type] %></th>
  </tr>
  <% @stats[type].each do |tutor, stats| %>
    <tr>
      <td><%= tutor.person.fullname %></td>
      <% stats.each do |entry| %>
        <td><%= entry %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
<br/>
<% end %>
