<% stylesheet_link_tag "tutor.css" %>
<h1>Edit Tutoring Schedule</h1>
<%= form_tag do %>
<input type="checkbox" id="only_available" name="only_available" checked="checked" /><label id="only_available">Restrict to officers who are available at each time</label>
<p>'P' = strongly prefer this office, 'p' = okay with this office, absence of such = do not prefer this office</p>
<p>'A' = prefer adjacent slots, 'a' = do not prefer adjacent slots, absence of such = no preference of adjacency</p>
<p>To edit any slots, you must do TWO submits. First remove all tutors to be switched and submit. Then add them back in the right places, and submit again. 
If you don't do that exactly, the schedule may not end up in the right state.</p>
<table id="edit_schedule">
<% @rows.each do |row| %>
	<tr>
	<% if row == "Hours" %>
		<th>Hours</th>
		<% @days.each do |day| %>
		<th class="slot_table_header"><%= day %></th>
		<% end %>
	<% else %>
		<td  rowspan="2"><%= format_hour_slot row.to_i %></td>
		<% @days.each do |day| %>
		<td  class="slot cory">
			<p> Cory </p>
			<select name="<%= formatslot day, row + "C" %>[]" multiple="multiple">
				<% if @cory_preferred[formatslot day, row] %>
				<optgroup label="Preferred">
				<% @cory_preferred[formatslot day, row].each do |entry| %>
				<option value="<%= entry[0].id %>" <%= default_select @assignments, day, row, entry[0], "C" %>><%= entry[0].person.fullname + entry[1] %></option>
				<% end %>
				</optgroup>
				<% end %>
				<% if @cory_available[formatslot day, row] %>
				<optgroup label="Available">
				<% @cory_available[formatslot day, row].each do |entry| %>
				<option value="<%= entry[0].id %>" <%= default_select @assignments, day, row, entry[0], "C" %>><%= entry[0].person.fullname + entry[1] %></option>
				<% end %>
				</optgroup>
                            <% end %>
                            <% if not @others[formatslot day, row].blank? %>
				<optgroup label="Others">
				<% @others[formatslot day, row].each do |tutor| %>
				<option value="<%= tutor.id %>" <%= default_select @assignments, day, row, tutor, "C" %>><%= tutor.person.fullname %></option>
				<% end %>
				</optgroup>
				<% end %>
			</select>
		</td>
		<% end%>
	</tr>
	<tr>
		<% @days.each do |day| %>
		<td  class="slot soda">
			<p> Soda </p>
			<select name="<%= formatslot day, row + "S" %>[]" multiple="multiple">
				<% if @soda_preferred[formatslot day, row] %>
				<optgroup label="Preferred">
				<% @soda_preferred[formatslot day, row].each do |entry| %>
				<option value="<%= entry[0].id %>" <%= default_select @assignments, day, row, entry[0], "S" %>><%= entry[0].person.fullname + entry[1] %></option>
				<% end %>
				</optgroup>
				<% end %>
				<% if @soda_available[formatslot day, row] %>
				<optgroup label="Available">
				<% @soda_available[formatslot day, row].each do |entry| %>
				<option value="<%= entry[0].id %>" <%= default_select @assignments, day, row, entry[0], "S" %>><%= entry[0].person.fullname + entry[1] %></option>
				<% end %>
				</optgroup>
				<% end %>
                            <% if not @others[formatslot day, row].blank? %>
				<optgroup label="Others">
				<% @others[formatslot day, row].each do |tutor| %>
				<option value="<%= tutor.id %>" <%= default_select @assignments, day, row, tutor, "C" %>><%= tutor.person.fullname %></option>
				<% end %>
				</optgroup>
				<% end %>
			</select>
		</td>
		<% end%>
	<% end %>
	</tr>
<% end %>
</table>
<input type="submit" value="Submit" />
<% end %>