<% content_for :header do %>
  <%= stylesheet_link_tag "tutor.css" %>
  <script type="text/javascript">
    function updateSlider(ths,value) {
        $(ths).next().val(value);
        var color = new Array();
        color[0] = "rgba(224,158,4,0.75)";
        color[1] = "rgba(224,158,4,0.4)";
        color[2] = "transparent";
        color[3] = "rgba(9,75,189,0.3)";
        color[4] = "rgba(9,75,189,0.75)";
        $(ths).parent().css("background-color", color[value]);
    }

    function updateAllSliders(event, ui) {
      $( ".slider" ).each(function(){
        $(this).slider("value",ui.value)
      });
    }
    
    $(function() {
      $( "#big-slider" ).slider({
        value: 2,
        min: 0,
        max: 4,
        slide: updateAllSliders,
        change: updateAllSliders
      });

      $( ".slider" ).each(function(){
        $(this).slider({
          value: $(this).next().val(),
                min: 0,
                max: 4,
          //change: function(event,ui) { $(this).parent().css("background-color","#000000"); }
          slide: function(event, ui) { updateSlider(this, ui.value); },
          change: function(event, ui) { updateSlider(this, ui.value); }
        });
        $(this).slider("value",$(this).next().val());
      });
    });

  </script>
<% end %>

<h1>Sign up for tutoring slots</h1>
<p>For each time slot below, indicate your preference level for office hours. 
<span style="color:green">Green</span> = "preferred," <span style="color:#E7D701">yellow</span> = "less preferred but can make it," and <span style="color:red">red</span> = "cannot make it."</p>
<p>You can also indicate your office preference for individual time slots, or simply use the universal bar below to indicate for all slots.</p>
Note that there are five levels of preference, which roughly translate to "strongly prefer," "slightly prefer," and "no preference." 
<span style="color:orange">Orange</span> = Cory, <span style="color:blue">blue</span> = Soda.</p>
<p>Finally, you can also indicate your preference of adjacent time slots below.</p><br />

<%= form_tag admin_tutor_update_slots_path, :method => :post do %>
  <%= label_tag :adjacency, "Adjacent slots?" %>
  <%= select_tag :adjacency, options_for_select([["Don't care", 0], ["Yes", 1], ["No", -1]], @adjacency) %>
  <br /><br />

  <div id="big-slider-container"><div id="big-slider"></div></div>
  <pre><h1>Cory                                    Soda</h1></pre>
  <table id="slot-table">
    <tr>
      <th>Hours</th>
      <% @days.each do |day| %>
        <th class="slot-table-header"><%= day %></th>
      <% end %>
    </tr>
  <% @hours.each do |hour| %>
    <tr>
      <td  rowspan="4" class="slot"><%= format_hour_slot hour %></td>
      <% @wdays.each do |wday| %>
        <td class="slot slot-preferred">
          <%= radio_button_tag availability_form_name(wday, hour, :preference_level), 
            "preferred", 
            @prefs[wday][hour] == Availability::PREF[:preferred] %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @wdays.each do |wday| %>
        <td class="slot slot-available">
          <%= radio_button_tag availability_form_name(wday, hour, :preference_level), 
            "available", 
            @prefs[wday][hour] == Availability::PREF[:available] %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @wdays.each do |wday| %>
        <td class = "slot slot-unavailable">
          <%= radio_button_tag availability_form_name(wday, hour, :preference_level), 
            "unavailable", 
            @prefs[wday][hour] == Availability::PREF[:unavailable] %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @wdays.each do |wday| %>
      <td class="slot slider-container">
        <div class="slider"></div>
        <%= hidden_field_tag availability_form_name(wday, hour, :slider), @sliders[wday][hour] %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <p>DISCLAIMER: While the scheduler tries to make everyone as happy as possible, it is likely that you won't get exactly the perfect assignment that you were looking for.</p>
  <p>Depending on which is more important to you, keep in mind that a more restrictive office preference may dominate your time slot preferences (or vice-versa).</p>
  <%= submit_tag "Save changes" %>
  <%= submit_tag "Reset all" %>
<% end #form %>
