<% content_for :header do %>
  <# autocomplete collides with the jquery-ui so must load the jquery before autocomplete>
  <# source: http://stackoverflow.com/questions/3308935/jquery-autocomplete-this-source-is-not-a-function-error>
  <# solution is the second or third post>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
  <%= javascript_include_tag "jquery-autocomplete.min" %>
 
  <%= stylesheet_link_tag "jquery-autocomplete" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '/admin/tutor/find_courses',
        success: function(data) {
          d = []
          for(var item in data){
            d[item] = {text: data[item]["text"], url: data[item]["url"]}
          }
        
          $("#course_query").autocomplete(data, {
            formatItem: function(item) {
              return item.text;
            }
          }).result(function(event, item) {
            $("#course_id").val(item.url);
          });
          
        }
      });
      
      $("#form").submit(function(){
        course_id = $("#course_id").val();
        preference_level = $("input[name=preference_level]:checked").val();
        
        $.post("/admin/tutor/add_course",
          { course: course_id,
            level: preference_level,
            course_query: $("#course_query").val(),
          },
          function(data) {
            if(data[0] == 1){ //OK submission
              course_name = data[1];
              $("input[name=course_query]").val(""); //clear fields
              $("input[name=preference_level]:checked").removeAttr("checked");
              //ajax
              //ch = $("<tr></tr>");
              //ch.append($("<td class=\"course_name\"></td>").html(course_name));
              //ch.append($('<td class="course_buttons"></td>').html('<form method="post" action="/course_preferences/'+data[2]+'"  class="button_to"><div><input name="_method" type="hidden" value="delete" /><input data-confirm="Are you sure?" style="float: right;" type="submit" value="Destroy" /><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div></form>'))
              //$("#courses_"+preference_level).append(ch);
              //$("#messages").hide("slow");
              //$("#add_course_errors").html("");

              ch = $("<div class='course ui-draggable'></div>");
              ch.append($('<span class="title" course_id='+course_id+'></span>').html(course_name));
              ch.append($('<span class="button"></span>').html('<form method="post" action="/course_preferences/'+data[2]+'"  class="button_to"><div><input name="_method" type="hidden" value="delete" /><input data-confirm="Are you sure?" style="float: right;" type="submit" value="Destroy" /><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div></form>'));
              //ch.append($('<span class="button"></span>').append('<a style="float: right;" data-method="delete" data-confirm="Are you sure?" href="/course_preferences/'+data[2]+'>x</a>'));
              //ch.append($('<span class="button"></span>').html('<a style="float: right;" data-method="delete" data-confirm="Are you sure?" href="/course_preferences/'+data[2]+'>x</a>'));

              ch.draggable({ revert: true});
              
              $(".courses#current .drop-target").append(ch);
              $("#messages").hide("slow");
              $("#add_course_errors").html("");

              
            } else{
              $("#add_course_errors").html(data[1]);
            }
            
          }
          
        );
       return false;
      });
      
    });
  </script>
<% end %>

<div id="add_course_errors"></div>
<h1>Sign up for classes</h1>
<%= form_tag("", :id => "form") do %>

    <div style="margin: 0px auto;">
        <!-- Choose a class to add: -->
        <!-- <%= select_tag(:class, options_for_select(@course_options)) %> -->
        <%= label_tag "Search for class:" %>
        <%= text_field_tag "course_query", "", :id => "course_query" %><br/>
        <%= hidden_field_tag "course_id", "", :id => "course_id" %>
        <%= label_tag "Mark as:" %>
        <%= radio_button_tag "preference_level", "current", :checked => true %> Current
        <%= radio_button_tag "preference_level", "completed" %> Completed
        <%= radio_button_tag "preference_level", "preferred" %> Preferred<br/>

        <%= submit_tag "Submit", :id => "course_submit" %>
    </div>
<% end %>

<!--
Search for class (like "cs61", "cs61c", "ee", or "cheme"):
<input id="course_query" onkeypress="return updateonenter(event);"/> 
<a href="javascript:void(0);" onclick="update_courses();">Search</a> 
</div> 
<br /> 
<div id="results_container" style="border: 1px solid gray; width: 40%; float: left; height: 25em; overflow: hidden;"> 
    <h2>Search Results: </h2> 
    <div id="results" style="height: 20em; overflow: scroll"> 
        <hr /> 
        None yet, search above!
    </div> 
</div> 
-->
<!--<div id="classes_container" style="border: 1px solid gray; width: 40%; margin-right: 10%; float: right; height: 25em; overflow: auto;">-->
    <% course_preferences = {0 => :current, 1 => :completed, 2 => :preferred} %>
    <% for pref_level in [0, 1, 2] %>
        <div class="courses" id=<%= course_preferences[pref_level] %>>
            <h2><%= course_preferences[pref_level].to_s.capitalize %> Courses</h2>
            <div class="drop-target">
                <% @courses_added.select{|course| course.course_preferences.find_by_tutor_id(@current_user.tutor.id).level == pref_level }.each do |course| %>
                    <div class="course">
                        <span class="title" course_id=<%= course.id %>><%= course.course_abbr %></span>
                        <a class="delete_course" pref_id="<%= course.course_preferences.find_by_tutor_id(@current_user.tutor.id).id %>" style="float: right;">x</a>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>

    <div style="clear: both;">
    <%= button_to "Update", '#', :onclick => 'updatePreferences(); return false;' %>
    </div>

<style type="text/css">

    .courses {
        width: 30%;
        float: left;
    }

    .courses .drop-target {
        min-width: 30%;
        min-height: 30%;
        padding: 1em;
        display: inline-block;
        
        border: 1px gray solid;

    }

    .course {
        margin: 2px;
        background: #EEE;
        border-radius: 5px;
        text-align: center;
        width: auto;
        list-style-type: none;
        cursor: default;
        position: relative;
        float: left;
        width: 7em;

    .course * {
        display: inline;
    }


</style>


<script type="text/javascript">

    updatePreferences = function() {
        $.post('<%= admin_update_course_preferences_path %>',
               {
                    current: $.map( $('#current .title'), function(e){ return e.getAttribute('course_id') }).join(' '),
                    completed: $.map( $('#completed .title'), function(e){ return e.getAttribute('course_id') }).join(' '),
                    preferred: $.map( $('#preferred .title'), function(e){ return e.getAttribute('course_id') }).join(' ')
               },
               function(data, status, xhr) {
                    window.location.reload();
               }
        );
    }

    $(function() {
        $(".drop-target").droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop : function( event, ui) {
                    $(this).find(".placeholder").remove();
                    ui.draggable.detach().appendTo(this).removeAttr('style');
            }
        });

        $(".course").draggable({
            revert: true
        });
    });
</script>
