<% content_for :header do %>
  <%= javascript_include_tag "jquery-autocomplete.min" %>
 
  <%= stylesheet_link_tag "jquery-autocomplete" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '/admin/tutor/find_courses',
        success: function(data) {
          $("#course_query").autocomplete(data);
        }
      });
      
      $("#form").submit(function(){
        course_name = $("input[name=course_query]").val();
        preference_level = $("input[name=preference_level]:checked").val();

        $.post("/admin/tutor/add_course",
          { course: course_name,
            level: preference_level,
            authenticity_token: "<%= form_authenticity_token %>"},
          function(data) {
            if(!isNaN(data)){ //OK submission
              $("input[name=course_query]").val(""); //clear fields
              $("input[name=preference_level]:checked").removeAttr("checked");
              //ajax
              ch = $("<tr></tr>");
              ch.append($("<td class=\"course_name\"></td>").html(course_name));
              ch.append($('<td class="course_buttons"></td>').html('<form method="post" action="/course_preferences/'+data+'"  class="button_to"><div><input name="_method" type="hidden" value="delete" /><input data-confirm="Are you sure?" style="float: right;" type="submit" value="Destroy" /><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div></form>'))
              $("#courses_"+preference_level).append(ch);
              $("#messages").hide("slow");
            } else{
              $("#add_course_errors").html(data);
            }
            
          }
          
        );
       return false;
      });
      
    });
  </script>
<% end %>

<div id="add_course_errors"></div>
<h1>Sign up for classes</h1>
<%= form_tag("", :id => "form") do %>
<div style="height: 30em;">
		
		<div style="margin: 0px auto;">
        <!-- Choose a class to add: -->
        <!-- <%= select_tag(:class, options_for_select(@course_options)) %> -->
	<%= label_tag "Search for class:" %>
	<%= text_field_tag "course_query", "", :id => "course_query" %><br/>
	<%= label_tag "Mark as:" %>
	<%= radio_button_tag "preference_level", "current" %> Current
	<%= radio_button_tag "preference_level", "completed" %> Completed
	<%= radio_button_tag "preference_level", "preferred" %> Preferred<br/>

	<%= submit_tag "Submit", :id => "course_submit" %>
<% end %>
        
	<!--
			Search for class (like "cs61", "cs61c", "ee", or "cheme"):
			<input id="course_query" onkeypress="return updateonenter(event);"/> 
			<a href="javascript:void(0);" onclick="update_courses();">Search</a> 
		</div> 
		<br /> 
		<div id="results_container" style="border: 1px solid gray; width: 40%; float: left; height: 25em; overflow: hidden;"> 
			<h2>Search Results: </h2> 
			<div id="results" style="height: 20em; overflow: scroll"> 
				<hr /> 
				None yet, search above!
			</div> 
		</div> 
        -->
	<div id="classes_container" style="border: 1px solid gray; width: 40%; margin-right: 10%; float: right; height: 25em; overflow: auto;">
	  <h2>Current Courses</h2>
	  <table id="courses_current" style="border: 1px gray solid; width: 80%; margin-left: auto; margin-right: auto;">
	    <% @courses_added.select{|course| course.course_preferences.find_by_tutor_id(@current_user.id).level == 0}.each do |course| %>
	    <tr class="course" style="border: 1px gray solid;">
	      <td class="course_name">
		<%= course.course_abbr %>
	      </td>
	      <td class="course_buttons">
		<%= button_to 'Destroy', course_preference_path(course.course_preferences.find_by_tutor_id(@current_user.id)), :confirm => 'Are you sure?', :method => :delete, :style => "float: right;"%>
	      </td>
	    </tr>
	    <% end %>
	  </table>
	  <h2>Completed Courses</h2>
	  <table id="courses_completed" style="border: 1px gray solid; width: 80%; margin-left: auto; margin-right: auto;">
	    <% @courses_added.select{|course| course.course_preferences.find_by_tutor_id(@current_user.id).level == 1}.each do |course| %>
	    <tr class="course" style="border: 1px gray solid;">
	      <td class="course_name">
		<%= course.course_abbr %>
	      </td>
	      <td class="course_buttons">
		<%= button_to 'Destroy', course_preference_path(course.course_preferences.find_by_tutor_id(@current_user.id)), :confirm => 'Are you sure?', :method => :delete, :style => "float: right;"%>
	      </td>
	    </tr>
	    <% end %>
	  </table>
	  <h2>Preferred Courses</h2>
	  <table id="courses_preferred" style="border: 1px gray solid; width: 80%; margin-left: auto; margin-right: auto;">
	    <% @courses_added.select{|course| course.course_preferences.find_by_tutor_id(@current_user.id).level == 2}.each do |course| %>
	    <tr class="course" style="border: 1px gray solid;">
	      <td class="course_name">
		<%= course.course_abbr %>
	      </td>
	      <td class="course_buttons">
		<%= button_to 'Destroy', course_preference_path(course.course_preferences.find_by_tutor_id(@current_user.id)), :confirm => 'Are you sure?', :method => :delete, :style => "float: right;"%>
	      </td>
	    </tr>
	    <% end %>
	  </table>
	</div> 
    </div>
