<% stylesheet_link_tag "tutor.css" %>
<h1>Sign up for tutoring slots</h1>
<form action="" method="post">
<%= token_tag %>
<table id="signup_slots">
<% @rows.each do |row| %>
	<tr>
	<% if row == "Hours" %>
		<td>Hours</td>
		<% @days.each do |day| %>
			<td class="slot_table_header"><%= day %></td>
		<% end %>
	<% else %>
		<td  rowspan="3"><%= format_hour_slot row.to_i %></td>
		<% @days.each do |day| %>
			<td  class="slot slot_preferred"><input type="radio" name="<%= formatslot day, row %>" <%= default_radio @prefs, day, row, 2 %> value="preferred" /></td>
		<% end%>
		</tr>
		<tr>
		<% @days.each do |day| %>
			<td class="slot slot_available"><input type="radio" name="<%= formatslot day, row %>" <%= default_radio @prefs, day, row, 1 %> value="available"/></td>
		<% end%>
		</tr>
		<tr>
		<% @days.each do |day| %>
			<td class = "slot slot_unavailable"><input type="radio" name="<%= formatslot day, row %>" <%= default_radio @prefs, day, row, 0 %> value="unavailable"/></td>
		<% end%>
	<% end %>
	</tr>
<% end %>
<input type="submit" />
</form>