<h1>Edit Announcement</h1>

<% form_tag(admin_general_update_announcement_path, method: "post") do %>
  <%= hidden_field_tag :id, @announcement.id %>

  <div class="field">
    <%= label_tag :title %><br />
    <%= text_field_tag :title, @announcement.title %>
  </div>

  <div class="field">
    <%= label_tag :body %><br />
    <%= text_area_tag :body, @announcement.body %>
  </div>
  <p>
  <div class="field-submit">
    <%= submit_tag "Submit" %>
  </div>
  </p>
<% end %>
