<%- content_for :header do -%>
    <style type="text/css">
         #results p {
             clear: both;
             padding-bottom: 0.1em;
         }
         #results .div {
             overflow: auto;
         }
         #results .field {
             float: left;
             width: 45%;
         }
         #results .val {
             float: right;
             width: 50%;
         }
         #results .desc {
             font-size: x-small;
         }

         .form-container {
             width: 100%;
         }
         .election-form {
             float: left;
             /*
             width: 40%;
             margin-right: 10%;
             */
             width: 35em;
             margin-right: 10%;
             margin-bottom: 5em;
             display: block;
         }
    </style>
<%- end # head -%>

<h1>Set details for <%= @election.position.titleize %> Officer <%= @user.full_name %></h1>


<%- field_label_map = {
        :username         => "Desired HKN login",
        :txt              => "Accept Texting?",
        :aim              => "AIM",
        :local_address    => "Current Address",
        :sid              => "SID",
        :keycard          => "Keycard Number",
        :date_of_birth    => "Birthday",
        :midnight_meeting => "Attending Midnight Meeting?"
    }


    details_map = {
      #                field            form_tag     required?     [explanation]     [options]
   :person   => [ [:username,         :text_field,  true ,
                   "You\'re allowed to change your username. This will take effect immediately on the website."],
                  [:phone_number,     :text_field,  true ],
                  [:aim,              :text_field,  false],
                  [:email,            :text_field,  false,
                   "We'll give you an @hkn.eecs email at Midnight Meeting. Until then, please provide an email that you'll check frequently!"],
                  [:local_address,    :text_field,  false],
                  [:date_of_birth,    :date_select, false, nil, {:end_year => Time.now.year-17, :start_year => Time.now.year-30} ] # arbitrary age limits...
                ],
   :election => [ [:txt,              :check_box,   false,
                   'Is it okay to text you?'],
                  [:sid,              :text_field,  true,
                   'This is for keycard access.'],
                  [:keycard,          :text_field,  true,
                   'This is for keycard access.'],
                  [:midnight_meeting, :check_box,   true,
                   'Coming to the midnight meeting? (Hint: yes.)']
                ]
    }

-%>
<div id="results">

<div class="form-container">
<%- [ [:person, @user], [:election, @election] ].each do |model, obj| -%>
<div class="election-form">
  <h3><%= {:person=>"User Account Preferences", :election=>"Post-Election Info"}[model] %></h3>

<%= form_for obj, :url => admin_general_election_details_post_path do |f| %>

  <%- @details[model].each do |fname|
        ftag, required, explanation, options = details_map[model].assoc(fname)[1..-1]
  -%>
  <p>
    <div class="fv-wrapper">
      <div class="field">
          <div class="<%=' required-field' if required %>"><%= field_label_map[fname] || fname.to_s.titleize %>:</div>
          <%- if explanation -%>
          <div class="desc"><%= explanation %></div>
          <%- end -%>
      </div>
      <div class="val">
          <%= f.send ftag, *([fname, options].compact) %>
          <%- if fname == :username -%>
          <div>
            <div>
            <%= f.label :password, :class => 'field' %>
            <%= f.password_field :password, :class => 'val' %>
            </div>
          </div>
          <%- end -%>
      </div>
    </div>
    <br />
  </p>
  <%- end # details[...].each -%>

  <div class="field"><%= f.submit nil, :disable_with => "Saving..." %></div>

<%- end # model -%>
</div>

<%- end # models -%>
</div><%# form-container %>



</div><%# results %>

