<h1>Candidate Super Page!</h1>

<% for cand in @candidates %>
	<% if cand["candidate"] != false %>
	<div class="candidate">
		<%= cand["candidate"] %>
		<ul>
			<li>Events: 
				<ul>
					<% cand["events"].each_pair do |k,v| %>
						<li><%= k.to_s %> - <%= v.to_s %></li>
					<% end %>
				</ul>
			</li>
      <li>
        Challenges: <%= cand["challenges"] %>
        <% unless cand["unconfirmed_challenges"].empty? %>
          <br />
        Unconfirmed challenges:
        <ul>
          <% cand["unconfirmed_challenges"].each do |challenge|  %>
            <li>
              <%= challenge.name %> - <%= challenge.officer.full_name %> 
            </li>
          <% end %>
        </ul>
        <% end %>
      </li>
			<li>Resume: <%= cand["resumes"] %></li>
			<li>Quiz: <%= cand["quiz"] %></li>
		</ul>
	</div>
	<% end %>
<% end %>

