<h1>Candidate Super Page!</h1>

<% for cand in @candidates %>
	<div class="candidate">
		<%= cand["candidate"] %>
		<ul>
			<li>Events: 
				<ul>
					<% for event in cand["events"] %>
						<li><%= event.to_s %></li>
					<% end %>
				</ul>
			</li>
			<li>Challenges: <%= cand["challenges"] %></li>
			<li>Resume: <%= cand["resumes"] %></li>
			<li>Quiz: <%= cand["quiz"] %></li>
		</ul>
	</div>
<% end %>

