<%= form_for @resume, :html => { :multipart => true } do |f| %>
	<% if @resume.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this résumé from being uploaded:</h2>
    <ul>
    <% @resume.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<% @f = f %>
	<%= render :partial => "current_resume", :locals => { :f  => @f }%>
	<% @current_resume = @person.resumes.first %>
	<div class="field">
		<%= f.label :overall_gpa, "Overall GPA" %>
		<div class="glue"><%= f.text_field :overall_gpa %></div>
	</div>
	<div class="field">
		<%= f.label :major_gpa, "Major GPA (optional)" %>
		<div class="glue"><%= f.text_field :major_gpa %></div>
	</div>
	<div class="field">
		<%= f.label :resume_text, "Resume Text" %>
		<div class="glue">
			<%= f.text_area :resume_text %><br />
			Paste the contents of your résumé (used for searching).
		</div>
	</div>
	<div class="field">
		<!-- Spring should be selected by default unless most recent resume has a fall grad date -->
    <%= f.label :graduation_semester %>
		<% if @current_resume && !@resume.graduation_semester && @current_resume.graduation_semester == "fall"
			   fall_options = {:checked => true}
			   spring_options = {}
		   else
				 fall_options = {}
				 spring_options = {:checked => true}
		   end
		 %>
	  <div class="glue">
	  <%= f.radio_button :graduation_semester, "spring", spring_options %> Spring
		<%= f.radio_button :graduation_semester, "fall",
		                       fall_options %> Fall
		</div>
	</div>
	<div class="field">
		<!-- Should have the graduation year of most recent resume as default -->
		<%
		if @resume.graduation_year
			grad_year_options = {}
		elsif @current_resume # A valid current resume should have a non-nil grad year!
			grad_year_options = {:value => @current_resume.graduation_year}
		else
			grad_year_options = {}
		end
			%>
		<%= f.label :graduation_year %>
		<div class ="glue">
		  <%= f.text_field :graduation_year, grad_year_options %><br />
		  Please provide your intended graduation semester and year e.g. Fall 2015, Spring 2022.
		</div>
	</div>
	<div class="field">
		<%= f.label :file, "Resume" %>
		<div class="glue">
			<%= f.file_field(:file, :accept => 'application/pdf') %><br />
			Please provide a PDF of your résumé. You should contact <a href="mailto:indrel@hkn.eecs.berkeley.edu">indrel@hkn.eecs.berkeley.edu</a> if you can't generate a PDF file.
		</div>
	</div>
	<%= f.hidden_field :person, :value=>@person.id%>
  <div class="submitglue field-submit">
    <%= f.submit "Upload Résumé" %>
  </div>
<% end %>
