<% content_for :header do %>
  <style type="text/css">
    #contain{     
      width: 50%;
      margin: auto;
    }
    
    @media screen and (max-width: 600px){
      #contain{     
        width: 100%;
        margin: auto;
      }
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#register-button").click(function(e){
        e.preventDefault();
        window.location = "/register";
      });
    });
  </script>
<% end %>

<div class="white-bg" id="contain">
  <h1>Login</h1>

  <%= form_for @user_session, :url => create_session_path do |f| %>
    
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, :autofocus => "true"%>
    </div>
    
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="field">
      <%= f.label :remember_me %><%= f.check_box :remember_me %>
    </div>
    
    <%= hidden_field_tag(:referer, @referer) %>

    <%- if @use_captcha -%>
    <div class="field">
      <%= captcha %>
    </div>
    <%- end -%>
    
    <div class="field-submit">
    <%= f.submit "Login" %>
    <%= submit_tag "Register", :id => "register-button" %>
    </div>
  <% end %>
</div>
