<%= content_for :header do %>
  <script type="text/javascript">
    var username = "<%= @current_user.username %>";
    var preprompt = "<%= @current_user == @real_current_user ? '' : "[#{@real_current_user.username}] " %>";

<%- if @current_user.admin? -%>
    function changeUser( realUser, newUser ) {
      if( newUser ) {
        preprompt = "["+realUser+"] ";
        username  = newUser;
      } else {
        preprompt = "";
        username = realUser;
      }
    }
<%- end -%>

  </script>
<%- end -%>

<div id="term">
  <div id="stdout">
    <p style="color: green;">Welcome to hkn.<p>
  </div>

  <div id="stdin">
    <%= form_tag console_command_path, :remote => true do %>
      <span id="promptString"></span>
      <%= text_field_tag :command, nil,
            :size       => 120,
            :onkeypress => "return consoleKey(event);",
            :id         => "input"
      -%>
    <%- end -%>
  </div>
</div>
