<%= form_for(@location) do |f| %>

  <% if @location.errors.any? %>
  <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
