<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @location.capacity %>
</p>

<p>
  <b>Comments:</b>
  <%=h @location.comments %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
