<div id="navigation">
<div id ="toplevel">
<ul class="navigation_toplevel">
  <li id="services" class="navigation_toplevel_item">
    <a href="#">Student Services</a>
  </li>

  <li id="indrel" class="navigation_toplevel_item">
    <a href="#">Industry Relations</a>
  </li> 

  <li id="events" class="navigation_toplevel_item">
    <a href="#">Events</a>
  </li> 

  <%- if @current_user -%>
  <li id="people" class="navigation_toplevel_item">
    <a href="#">People</a>
  </li> 
  <%- end -%>

  <li id="alumni" class="navigation_toplevel_item">
    <a href="#">Alumni Network</a>
  </li> 

  <li id="about" class="navigation_toplevel_item">
    <a href="#">About HKN</a>
  </li> 

  <%- if @current_user && @current_user.in_group?("comms") -%>
  <li id="admin" class="navigation_toplevel_item">
    <a href="#">Administration</a>
  </li> 
  <%- end -%>

  <%- if @current_user && @current_user.in_group?("candidates") -%>
  <li id="cand" class="navigation_toplevel_item">
    <a href="#">Candidate Portal</a>
  </li>
  <%- end -%>
</ul>
</div><!-- toplevel -->

<div class="submenu" id ="services_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/tutor/">Tutoring</a>
</li>
<li><%= link_to "Course Surveys", coursesurveys_path %></li>
<li>	
	<a href="/exam/browse/">Exam Archive</a>
</li>
<li><a href="/courseguide/">Course Guide</a></li>
<li>	
	<a href="/services/more/">More Services</a>
</li>
</ul>
</div>

<div class="submenu" id ="indrel_submenu">
<ul class="navigation_sublevel">
<li><%= link_to "Why HKN?", indrel_path %></li>
<li><%= link_to "Resume Books", resume_books_path %></li>
<li><%= link_to "Infosessions", infosessions_path %></li>
<li><%= link_to "Career Fair", career_fair_path %></li>
<li><%= link_to "Contact Us", indrel_contact_us_path %></li>
</ul>
</div>

<%- if @current_user -%>
<div class="submenu" id="people_submenu">
<ul class="navigation_sublevel">
  <li><%= link_to "Officers",          people_list_path("officers") %></li>
  <li><%= link_to "Committee Members", people_list_path("cmembers") %></li>
  <li><%= link_to "Members",           people_list_path("members") %></li>
  <li><%= link_to "Candidates",        people_list_path("candidates") %></li>
</ul>
</div>
<%- end -%>

<div class="submenu" id ="events_submenu">
<ul class="navigation_sublevel">
  <li><%= link_to "Events Calendar", events_calendar_path %></li>
  <li><%= link_to "Upcoming Events", events_category_path('future') %></li>
  <li><%= link_to "Past Events", events_category_path('past') %></li>
  <li><%= link_to "My RSVPs", my_rsvps_path %></li>
</ul>
</div>

<div class="submenu" id ="alumni_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/alumni/registration/" class="navigation_sublevel_item">
		Registration
	</a>
</li>
<li>	
	<a href="/alumni/newsletter/" class="navigation_sublevel_item">
		Alumni Newsletter
	</a>
</li>

</ul>
</div>
<div class="submenu" id ="about_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/about/contact/" class="navigation_sublevel_item">
		Contact Information
	</a>
</li>
<li>	
	<a href="/gallery2/" class="navigation_sublevel_item">
		Photo Gallery
	</a>
</li>
<li>	
	<a href="/about/yearbook/" class="navigation_sublevel_item">

		Yearbooks
	</a>
</li>
<li>	
	<a href="/about/slideshow/" class="navigation_sublevel_item">
		Slideshows
	</a>
</li>
<li>	
	<a href="/about/officers/" class="navigation_sublevel_item">
		Current Officers
	</a>
</li>
</ul>

</div>


<%- if @current_user && @current_user.in_group?("comms") -%>
<div class="submenu" id ="admin_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/admin/" class="navigation_sublevel_item">
		Django Admin
	</a>
</li>
<li>	
	<a href="/admin/request/list/" class="navigation_sublevel_item">
		Requests [0]
	</a>
</li>

<li>	
	<a href="/admin/tutor/signup/" class="navigation_sublevel_item">
		Tutor Signup
	</a>
</li>
<li>	
	<a href="/admin/tutor/view_signups/" class="navigation_sublevel_item">
		View Tutor Signups
	</a>
</li>

<li>	
	<a href="/admin/tutor/" class="navigation_sublevel_item">
		Tutor Admin
	</a>
</li>
<li>
	<%- if @current_user && @current_user.in_group?("deprel") -%>
	<a href="/admin/deprel" class="navigation_sublevel_item">
		Deprel Admin [<%= controller.num_deprel_requests %>]
	</a>
	<%- end -%>
</li>

</ul>
</div>
<%- end -%>



<div class="submenu" id ="cand_submenu">
<ul class="navigation_sublevel">
<li>
        <a href="/cand/portal/" class="navigation_sublevel_item">
        Portal Home
        </a>
</li>
<li>

        <a href="/cand/application/" class="navigation_sublevel_item">
        Application Form
        </a>
</li>
</ul>
</div>
</div>
