<div id="searcharea">
  <div id="examfiles" class="searchcontrol">
    <%= form_tag(exams_search_path, method: :get) do %>
      <%= text_field_tag :q, params[:controller].eql?('exams') ? h(params[:q]) : '', placeholder: "Search Exams", class: "text autoclear", id: "examfiles_q" %>
      <%= submit_tag "Search", name: nil %>
    <%- end -%>
    <div class="small searchhelp">
      example: CS 61a, ee 20, cs 188
    </div>
  </div>
  <div id="coursesurvey" class="searchcontrol">
    <%= form_tag(coursesurveys_search_path, method: :get) do %>
      <%= text_field_tag :q, params[:controller].eql?('coursesurveys') ? h(params[:q]) : '', class: "text", placeholder: "Search Course Surveys", id: "coursesurvey_q" %>
      <%= submit_tag "Search", name: nil  %>
    <%- end -%>
    <div class="small searchhelp">
      example: Hilfinger, hilf*, cs 61a
    </div>
  </div>
</div>
