<div class="submenu services_submenu">
  <ul class="plain">
    <li><a href="/tutor/">Tutoring Hours</a></li>
    <li><a href="/tutor/calendar">Review Sessions</a></li>
    <li><a href="/exams/">Exam Archive</a></li>
  </ul>
  <ul class="plain">
    <li><%= link_to "Course Surveys", coursesurveys_path %></li>
    <li><%= link_to "Course Guide", courseguide_path %></li>
    <li><%= link_to "Department Tours", dept_tour_signup_path %></li>
  </ul>
</div>

<div class="submenu indrel_submenu">
  <ul class="plain">
    <li><%= link_to "Why HKN?", indrel_path %></li>
    <li><%= link_to "Resume Books", resume_books_about_path %></li>
    <li><%= link_to "Infosessions", infosessions_path %></li>
  </ul>
  <ul class="plain">
    <li><%= link_to "Career Fair", career_fair_path %></li>
    <li><%= link_to "Contact Us", indrel_contact_us_path %></li>
  </ul>
</div>

<% if @current_user %>
<div class="submenu people_submenu">
  <ul class="plain">
    <li><%= link_to "Officers",          people_list_path("officers") %></li>
    <li><%= link_to "Committee Members", people_list_path("cmembers") %></li>
    <li><%= link_to "Members",           people_list_path("members") %></li>
  </ul>
  <ul class="plain">
    <li><%= link_to "Candidates",        people_list_path("candidates") %></li>
    <li><%= link_to 'Election Details', admin_election_details_path, class: "navigation_sublevel_item" %></li>
    <% if @auth["comms"] %>
    <li><%= link_to 'Contact Card', contact_card_path, class: 'navigation_sublevel_item'  %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="submenu events_submenu">
  <ul class="plain">
    <li><%= link_to "Events Calendar", events_calendar_path %></li>
    <li><%= link_to "Upcoming Events", events_category_path('future') %></li>
    <li><%= link_to "Past Events", events_category_path('past') %></li>
  </ul>
<% if @current_user %>
  <ul class="plain">
    <li><%= link_to "My RSVPs", my_rsvps_path %></li>
  <% if @auth['comms'] %>
    <li><%= link_to "New Event", new_event_path %></li>
    <li><%= link_to "Leaderboard", leaderboard_path %></li>
  <% end %>
  </ul>
<% end %>
</div>

<div class="submenu alumni_submenu">
  <ul class="plain">
    <% unless @current_user and @current_user.alumni %>
      <li><%= link_to "Alumni Contact Information", new_alumni_path %></li>
    <% else %>
      <%= link_to "View My Alumni Information", me_alumnis_url %>
    <% end %>
  </ul>
</div>

<div class="submenu about_submenu">
  <ul class="plain">
    <li><a href="/about/contact/" class="navigation_sublevel_item">Contact Information</a></li>
    <li><%= link_to "Photo Gallery", "https://www.flickr.com/photos/berkeley_hkn/", class: "navigation_sublevel_item" %></li>
    <li><%= link_to "Yearbooks",     "/about/yearbook/",            class: "navigation_sublevel_item" %></li>
  </ul>
  <ul class="plain">
    <li><a href="/about/slideshow/" class="navigation_sublevel_item">Slideshows</a></li>
    <li><%= link_to "Current Officers", "/about/officers/", class: "navigation_sublevel_item" %></li>
    <li><%= link_to "Current Committee Members", "/about/cmembers/", class: "navigation_sublevel_item" %></li>
  </ul>
</div>


<% if @current_user && @auth["candidates"] %>
<div class="submenu cand_submenu">
  <ul class="plain">
    <li><a href="/cand/portal/" class="navigation_sublevel_item">Portal Home</a></li>
    <li><a href="/cand/application/" class="navigation_sublevel_item">Application Form</a></li>
    <li><a href="/~vp" class="navigation_sublevel_item">Candidate Information</a></li>
  </ul>
</div>
<% end %>

<% if @auth["comms"] %>
<div class="submenu admin_submenu">
  <ul class="plain">
    <li><a href="/admin/tutor/signup_slots/" class="navigation_sublevel_item">Tutor Slot Signup</a></li>
    <li><a href="/admin/tutor/signup_courses/" class="navigation_sublevel_item">Tutor Course Signup</a></li>
    <li><a href="/admin/tutor/edit_schedule/" class="navigation_sublevel_item">View Tutor Signups</a></li>
    <li><%= link_to "Shortlinks", shortlinks_path %></li>
    <li><%= link_to "Static Pages", root_static_page_index_path %></li>
  </ul>
  <ul class="plain">
    <li><a href="/admin/general/confirm_challenges/" class="navigation_sublevel_item">Confirm Challenges</a></li>
    <% if @auth["tutoring"] %>
      <li><a href="/admin/studrel/" class="navigation_sublevel_item">Exam Admin</a></li>
    <% end %>
    <% if @auth["tutoring"] %>
      <li><a href="/admin/tutor/" class="navigation_sublevel_item">Tutor Admin</a></li>
    <% end %>
    <% if @auth['csec'] %>
      <li><a href="/admin/csec" class="navigation_sublevel_item">Csec Admin</a></li>
    <% end %>
    <% if @auth['rsec'] %>
      <li><%= link_to 'Rsec Admin', admin_rsec_path, class: 'navigation_sublevel_item'  %></li>
    <% end %>
    <% if @auth["deprel"] %>
      <li><a href="/admin/deprel" class="navigation_sublevel_item">Deprel Admin [<%= controller.num_deprel_requests %>]</a></li>
    <% end %>
    <% if @auth["indrel"] %>
      <li><a href="/admin/indrel/" class="navigation_sublevel_item">Indrel Admin</a></li>
    <% end %>
    <% if @auth["bridge"] %>
      <li><%= link_to 'Bridge Admin', admin_bridge_index_path, class: 'navigation_sublevel_item'  %></li>
    <% end %>
    <% if @auth["vp"] %>
      <li><%= link_to "VP Admin", admin_vp_path, class: "navigation_sublevel_item" %></li>
    <% end %>
    <% if @auth["pres"] %>
      <li><%= link_to "Pres Admin", admin_pres_path, class: "navigation_sublevel_item" %></li>
    <% end %>
    <% if @auth["alumrel"] or @auth["csec"] or @auth["vp"] %>
      <li><%= link_to "Alumrel/Grad Admin", admin_alumrel_path , class: "navigation_sublevel_item" %></li>
    <% end %>
  </ul>
</div>
<% end %>
