<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= "Eta Kappa Nu (HKN), Mu Chapter"%><%= " - #{@module_title}" unless @module_title.blank? %><%= " - #{@submodule_title}" unless @submodule_title.blank? %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <!-- navigation.js should be rewritten at some point -->
  <%= javascript_include_tag "navigation.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
	<div id="logoback">
		<div id="logo">
      <%= link_to image_tag("site/LogoDraftPlain.png"), root_url %>
		</div>
	</div>
  <%= render "layouts/navigation" %>
</div>

<div id="content">
<% if !@hide_topbar %>
  <div id="topbar">
    <%= render "layouts/userbar" %>
    <%= render "layouts/searcharea" if @show_searcharea %>
    <div style="clear:both; line-height:0px">&nbsp;</div>
  </div>
<% end %>

  <div id="container">
	<% if !@messages.empty? %>
	<div id="messages">
		<% @messages.each do |message| %>
		<div class="message">
			<%= message %>
		</div>
		<% end %>
	</div>
	<% end %>
	<% if Rails.env=="development" and !@debug.empty? %>
	<div id="debug">
		<% @debug.each do |message| %>
		<div class="message">Debug:
			<%= message %>
		</div>
		<% end %>
	</div>
	<% end %>
<%= yield %>
  </div>
</div>

<div id="footer">
	<div id="footer-right">Eta Kappa Nu, Mu Chapter (<a href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</a>)</div>
  <div id="footer-left">
    <%= link_to "HOME", root_url %> | <a href="/about/contact/">CONTACT</a>
  </div>
</div>

</body>
</html>
