<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<html>
<head>
  <title><%= "Eta Kappa Nu (HKN), Mu Chapter"%><%= " - #{@module_title}" unless @module_title.blank? %><%= " - #{@submodule_title}" unless @submodule_title.blank? %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
	<div id="logoback">
		<div id="logo">
			<a href="/">
				<img src ="http://hkn.eecs.berkeley.edu/static/images/site/LogoDraftPlain.png" style="border:none">
			</a>
		</div>
	</div>
  <%= render "layouts/navigation" %>
</div>

<%= yield %>

<div id="footer">
	<div id="footer-right">Eta Kappa Nu, Mu Chapter (<a href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</a>)</div>

	<div id="footer-left"><a href="/">HOME</a> | <a href="/about/contact/">CONTACT</a></div>
</div>

</body>
</html>
