<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
  <title><%= "Eta Kappa Nu (HKN), Mu Chapter"%><%= " - #{@module_title}" unless @module_title.blank? %><%= " - #{@submodule_title}" unless @submodule_title.blank? %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "navigation" %>
  <%= javascript_include_tag "chat" %>
  <%= csrf_meta_tag %>
  <link href='https://fonts.googleapis.com/css?family=Puritan|Cuprum' rel='stylesheet' type='text/css'>
  
  <%= yield(:header) %>
  
  <!--Automatically includes javascript or css files with the same name as the controller -->
  <% filename = controller.controller_name %>
  <% if FileTest.exist?  RAILS_ROOT + "/public/stylesheets/" + filename + ".css" %>
    <%= stylesheet_link_tag "#{filename}" %>
  <% end %>
  <% if FileTest.exist?  RAILS_ROOT + "/public/javascripts/" + filename + ".js" %>
    <%= javascript_include_tag "#{filename}" %>
  <% end %>
</head>
<body>
<div id="bar">
  <div id="chat" class="bar-icon"></div>
</div>
<div id="chatwindow">
</div>
<div id="wrapper">
  <div id="header">
  	<div id="navigation">
  	  <ul>
  	    <li><a class="navigation_toplevel_item" id="services" href="#">Student Services</a></li>
  	    <li><a class="navigation_toplevel_item" id="indrel" href="#">Industry Relations</a></li>
  	    <li><a class="navigation_toplevel_item" id="events" href="#">Events</a></li>
  	    <% if @current_user %>
  	      <li><a class="navigation_toplevel_item" id="people" href="#">People</a></li>
  	    <% end %>
  	    <li><a class="navigation_toplevel_item" id="alumni" href="#">Alumni Network</a></li>
  	    <li><a class="navigation_toplevel_item" id="about" href="#">About HKN</a></li>
  	    <% if @auth["candidates"] %>
  	      <li><a class="navigation_toplevel_item" id="cand" href="#">Candidate Portal</a></li>
  	    <% end %>
  	    <% if @auth["comms"] %>
  	      <li><a class="navigation_toplevel_item" id="admin" href="#">Admin</a></li>
  	    <% end %>
  	      
  	    <% if @current_user %>
  	      <span id="userbar" class="userbar">
  	        Welcome, <%= link_to @current_user.full_name, @current_user %>
  	      </span>
  	      <span class="userbar" id="user-dropdown">
  	        <span class="list-item"><a href="/account-settings"><span class="icon" id="settings"></span>Settings</a></span>
  	        <span class="list-item"><a href="/logout"><span class="icon" id="logout"></span>Logout</a></span>
  	        <span id="username" style="display:none;"><%= @current_user.username %></span>
  	      </span>
  	    <% else %>
  	      <span class="userbar"><%= link_to "Log In", "/login"%> | <%= link_to "Register", "/register"%></span>
  	      <span id="username" style="display:none;">guest</span>
  	    <% end %>  
  	  </ul>
  	  <div class="clear"></div>
  	</div>
  	<div id="lower">
  	  <div id="content">
  	    <div id="submenu-thin">
    	    <%= render "layouts/submenu" %>
    	  </div>
  	    <div id="logo">
    	  </div>
    	  <div id="submenu">
    	    <%= render "layouts/submenu" %>
    	  </div>
    	  <div id="topbar">
          <%= render "layouts/searcharea" %>
          <div class="clear"></div>
        </div>
    	  <div class="clear"></div>
    	</div>
  	</div>
  </div>

  <div id="content">
    <div id="container">
  	  <% if !@messages.empty? %>
    	  <div id="messages">
      		<% @messages.each do |message| %>
      		  <div class="message"><%= message %></div>
      		<% end %>
      	</div>
    	<% end %>
    	<% if Rails.env=="development" and !@debug.empty? %>
    	  <div id="debug">
      		<% @debug.each do |message| %>
      		  <div class="message">Debug:<%= message %></div>
      		<% end %>
    	  </div>
  	  <% end %>
    
      <%= yield %>
    </div>
  </div>
  <div id="push"></div>
</div>

  <div id="footer">
  	<div id="footer-right">Eta Kappa Nu, Mu Chapter</div>
    <div id="footer-left"><%= link_to "HOME", root_url %> | <a href="/about/contact/">CONTACT</a></div>
  </div>

</body>
</html>
